@{
    Script.Require("LeadContext");
    Script.Require("LeadDetailController");
}
@Display.FootScripts()

<header id="main-header" class="page-header">
    <h1>Lead</h1>
</header>

<section id="main-content" ng-controller="LeadDetailCtrl">
    @Display(Model)
</section>