@{
    Script.Require("LeadContext");
    Script.Require("LeadDetailController");
}
@Display.FootScripts()

<header id="main-header" class="page-header">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>Coevery
                                        <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="#">Sales</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="#">Lead</a>
        </li>
        <li>
            <a href="#">Detail</a>
        </li>
    </ul>
    <h1>Lead Detail <span>Lead add/edit</span></h1>
</header>

<section id="main-content" ng-controller="LeadDetailCtrl">
    @Display(Model)
</section>
