@{
    Style.Require("pnotify");
    Style.Require("ngGrid");
    Style.Require("TodoStyle");
    Script.Require("jQuery");
    Script.Require("pnotify");
    Script.Require("angular");
    Script.Require("angularResource");
    Script.Require("states");
    Script.Require("ngGrid");
    Script.Require("LeadLocalize");
    Script.Require("CoeveryApp");
    Script.Require("Logger");
}

<section ng-app="coevery" class="ng-cloak" ui-view>
</section>

