@{
    ViewBag.Title = "Leads";
    
    Style.Require("pnotify");
    Style.Require("ngGrid");
    Style.Require("LeadMain");
    Script.Require("jQuery");
    Script.Require("pnotify");
    Script.Require("angular");
    Script.Require("localize");
    Script.Require("angularResource");
    Script.Require("ngGrid");
    
    Script.Require("LeadMain");
    Script.Require("LeadLogger");
    Script.Require("LeadContext");
    Script.Require("LeadController");
    Script.Require("LeadDetailController");
    
}

<header id="main-header" class="page-header">
    <h1>@ViewBag.Title</h1>
</header>

<section ng-app="lead" id="main-content" class="ng-cloak" ng-view>
</section>
