
<section class="control-group">
    <div class="controls">
        <label class="radio">
            <input type="radio" ng-model="fieldType" value="ReferenceField">
            Reference
            <span class="help-inline">Allows users to build connection with another content.</span>
        </label>
    </div>
</section>
