
.icon-cloud:before { content: '\e80d'; } /* '' */
.icon-star:before { content: '\e818'; } /* '' */
.icon-star-empty:before { content: '\e819'; } /* '' */
.icon-qrcode:before { content: '\e80c'; } /* '' */
.icon-twitter:before { content: '\e80f'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-pinterest-circled:before { content: '\e803'; } /* '' */
.icon-pinterest-squared:before { content: '\e813'; } /* '' */
.icon-gplus-squared:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-flag-empty:before { content: '\e817'; } /* '' */
.icon-flag-checkered:before { content: '\e80e'; } /* '' */
.icon-maxcdn:before { content: '\e809'; } /* '' */
.icon-html5:before { content: '\e816'; } /* '' */
.icon-youtube-squared:before { content: '\e808'; } /* '' */
.icon-youtube:before { content: '\e807'; } /* '' */
.icon-xing-squared:before { content: '\e815'; } /* '' */
.icon-tumblr:before { content: '\e812'; } /* '' */
.icon-tumblr-squared:before { content: '\e811'; } /* '' */
.icon-windows:before { content: '\e806'; } /* '' */
.icon-linux:before { content: '\e801'; } /* '' */
.icon-dribbble:before { content: '\e800'; } /* '' */
.icon-skype:before { content: '\e814'; } /* '' */
.icon-renren:before { content: '\e802'; } /* '' */
.icon-twitter-squared:before { content: '\e810'; } /* '' */
.icon-facebook-squared:before { content: '\e80a'; } /* '' */