@{
    Script.Require("OpportunityDetailController");
    Script.Require("OpportuntityModel");
}
@Display.FootScripts()

<header id="main-header" class="page-header">
    <h1>Opportunity</h1>
</header>

<section id="main-content">
    <section>
        @Display(Model)
    </section>
</section>