@{
    IEnumerable<dynamic> fields = Model.Fields;
}
<div data-ng-controller="quickFilterController" id="quickFilter">
    @foreach (var field in fields) {
        var filter = field.Filter;
        <form data-type="@filter.Type">
            <label>@filter.Name.Text</label>
            @Display(field)
        </form>
    }
    <button class="btn btn-small" data-ng-click="applyFilter()">Apply</button>
</div>

<script>
    function quickFilterController($scope) {
        $scope.applyFilter = function() {
            $scope.contentList.setParam({
                postData: {
                    ViewId: $scope.currentViewId,
                    Filters: getFilters()
                }
            });
            $scope.contentList.reload();
        };

        function getFilters() {
            var forms = $('#quickFilter').find('form');
            var filters = [];
            $.each(forms, function() {
                var form = $(this);
                filters.push({
                    Type: form.data('type'),
                    FormData: form.serializeArray()
                });
            });
            return filters;
        }
    }
</script>