@using Orchard.Utility.Extensions
@model Coevery.Entities.ViewModels.AddFieldViewModel
<div class="modal-header">
    <button type="button" class="close" ng-click="exit()">&#215</button>
    <h3>Add new Field</h3>
</div>
<div class="modal-body">
    <h5>Step 1. Choose the field type</h5>
    <div class="row-fluid">
        <div class="form-container">
            <form id="field-type-form" class="no-border">
                @{
                    foreach (var field in Model.Fields) {
                        Html.RenderTemplates(field);
                    }
                }
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="inputErrorForField" id="error-tip">
        You must select a data type.
    </div>
    <div class="right">
        <button class="btn" ng-click="exit()">Back</button>
        <button class="btn" ng-click="next()">Next</button>
    </div>
</div>

