@model Coevery.Entities.ViewModels.EditTypeViewModel
<header id="main-header" class="page-header" style="background-image: none; margin-bottom: 0;">
    <h1 style="background-image: none;">Entity Detail <span>show entity detail information</span></h1>
</header>

<section id="main-content">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget toolbar-Container">
                <div class="widget-content">
                    <div class="btn-toolbar">
                        <button type="button" class="btn" data-ng-click="exit()">Back</button>
                        <button type="button" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn">Delete</button>
                        <button type="button" class="btn" data-ng-click="listViewDesigner()">List View Designer</button>
                        <button type="button" class="btn" data-ng-click="formDesigner()">Form Designer</button>
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="widget-content form-container detail-container">
                    <div class="form-horizontal no-border">
                        <section class="control-group">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <span class="control-label">@Model.Name</span>
                            </div>
                        </section>
                        <section class="control-group">
                            <label class="control-label" for="inputName">Display Name</label>
                            <div class="controls">
                                <span class="control-label">@Model.DisplayName</span>
                            </div>
                        </section>
                        <section class="control-group">
                            <label class="control-label">Setting</label>
                            <div class="controls">
                                @{Html.RenderTemplates(Model.Templates); }
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            
            <div class="widget">
                <ul class="nav nav-tabs">
                    <li data-ng-class="{ active: $detour.includes('EntityDetail.Fields') }"><a href="#/Entities/{{$stateParams.Id}}">Fields</a></li>
                    <li data-ng-class="{ active: $detour.includes('EntityDetail.Relationships') }"><a href="#/Entities/{{$stateParams.Id}}/Relationships">Relationships</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="ng-cloak" ui-view ng-animate="'fade'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $('.page-actions').affix({ offset: { top: 71 } });
    });
</script>
