<section>
    <section>
        <div id="page-actions">
            <h1 class="pull-left">@T("Entities") <span>List of Entities</span></h1>
        </div>
    </section>
    <section id="main-content">
        <header id="page-title" class="clearfix">
            <btn-actions>
                <button class="btn btn-small btn-success" data-ng-click="add()">
                    <i class="icon-plus"></i>Add
                </button>
                <button class="btn btn-small btn-success" data-ng-click="generate()">
                    <i class="icos-arrow-down"></i>Generate
                </button>
                <button class="btn btn-small" data-ng-click="getAllMetadata()">
                    <i class="icon-refresh"></i>Refresh
                </button>
                <div class="btn-group" ng-show="selectedItems.length > 0">
                    <button class="btn btn-small" data-ng-click="edit(selectedItems[0].Name)" ng-disabled="selectedItems.length > 1">
                        <i class="icon-edit"></i>Edit
                    </button>
                    <button class="btn btn-small" data-ng-click="delete(selectedItems[0].Name)">
                        <i class="icon-remove"></i>Delete
                    </button>
                </div>
            </btn-actions>
            <div class="min-height">
            </div>
        </header>
        <div class="row-fluid">
            <section class="gridStyle" data-ng-grid="gridOptions"></section>
        </div>
    </section>
</section>

<script type="text/javascript">
    //Modify page-action width when resize
    $(function () {
        $("#main-content").css("margin-top", $("#page-actions").outerHeight(true));
        $("#page-actions h1 span").attr("title", $("#page-actions h1 span").html());
    });
</script>
