@Html.Hidden("Operator", "Equals")
<div class="input-prepend errortips" data-co-datetime-picker="date">
    <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    </span>
    <input type="text" name="Value" class="input-small" data-format="MM/dd/yyyy" />
</div>