
<section class="control-group">
    <div class="controls">
        <label class="radio">
            <input type="radio" ng-model="fieldType" value="OptionSetField">
            Selection
            <span class="help-inline">Allows users to select a value from a predefined list.</span>
        </label>
    </div>
</section>
