<div class="row-fluid">
    <section class="span12 widget">
        <header class="widget-header">
            <span class="title">Detail Page</span>
        </header>
        <section class="widget-content form-container">
            <form name="myForm" class="form-horizontal" ng-submit="save()">
                <section class="control-group">
                    <label class="control-label" for="inputName">Name</label>
                    <div class="controls">
                        <input type="text" class="span12" ng-model="item.Name" name="Name" id="inputName" required>
                        <span class="text-error" ng-show="!myForm.Name.$valid">Required!</span>
                    </div>
                </section>
                <section class="control-group">
                    <label class="control-label" for="inputDescription">Description</label>
                    <div class="controls">
                        <input type="text" class="span12" ng-model="item.Description" name="Description" id="inputDescription" required>
                        <span class="text-error" ng-show="!myForm.Description.$valid">Required!</span>
                    </div>
                </section>
                <section class="control-group">
                    <label class="control-label" for="inputSourceLeadId">SourceLeadId</label>
                    <div class="controls">
                        <input type="text" class="span12" ng-model="item.SourceLeadId" name="SourceLeadId" id="inputSourceLeadId" required>
                        <span class="text-error" ng-show="!myForm.SourceLeadId.$valid">Required!</span>
                    </div>
                </section>
             
                <section class="form-actions">
                    <input type="submit" value="Save" class="btn btn-primary" ng-disabled="!myForm.$valid">
                    <input type="button" value="Exit" class="btn" ng-click="exit()"/>
                </section>
            </form>
        </section>
    </section>
</div>