@{
    var sectionList = (ICollection<Coevery.FormDesigner.Models.Section>)ViewData["Layout"];
}

@foreach (var layoutSection in sectionList) {
    <div fd-section section-columns="@layoutSection.SectionColumns" section-columns-width="@layoutSection.SectionColumnsWidth" section-title="@layoutSection.SectionTitle">
        @foreach (var row in layoutSection.Rows) {
            <div fd-row @if (row.IsMerged) { <text>class="merged-row"</text> }>
                @foreach (var column in row.Columns) {
                    <div fd-column>
                        @if (column.Field != null && column.Field.IsValid) {
                            <div fd-field field-name="@column.Field.FieldName"></div>
                        }
                    </div>
                }
            </div>
        }
    </div>
}
