@using Coevery.ContentManagement
@using Coevery.Utility.Extensions
@{
    ContentItem contentItem = Model.Item;
    var typeDisplayName = contentItem.TypeDefinition.DisplayName ?? contentItem.ContentType.CamelFriendly();
}

<header id="page-title">
    <h1 class="pull-left">@typeDisplayName <span>@T("create a new {0}", typeDisplayName)</span></h1>
</header>