@using Coevery.Core.Contents

<button class="btn btn-small" ng-click="exit()">@T("Back")</button>
@if (Authorizer.Authorize(Permissions.EditContent, Model.ContentItem)) {
    <button class="btn btn-small" ng-click="edit()">
        <i class="icon-edit"></i>&nbsp;@T("Edit")
    </button>
}