<button class="btn btn-small" ng-click="exit()">@T("Back")</button>
<button class="btn btn-small btn-primary" data-cobusy="'saveentity'" data-ng-click="saveAndView()">@T("Save")</button>
<button class="btn btn-small btn-primary" data-cobusy="'saveentity'" data-ng-click="saveAndBack()">@T("Save & Back")</button>