@model Coevery.Core.Navigation.Models.MenuItemPart

<section class="data-row control-group">
    <label class="control-label">@T("Url")</label>
    <div class="controls">
        @Html.TextBoxFor(model => model.Url, new { @class = "span12" })
    </div>
</section>
