@{
    Style.Require("pnotify");
    Style.Require("Module");

    Script.Require("jQuery");
    Script.Require("jQueryUI");
    Script.Require("pnotify");
    Script.Require("angular");
    Script.Require("angularResource");
    Script.Require("angularRoute");
    
    Script.Require("ui_utils");
    Script.Require("require");
    Script.Require("angular_UI_Router");
    Script.Require("angular_couchPotato");
    
    Script.Require("i18next");
    Script.Include("directives/angularjs-i18next-directive.js");
    Script.Include("directives/jqGrid-directive.js");
    Script.Include("controllers/agGridCtrl.js");
    Script.Include("services/loadingservice.js");
    Script.Require("ui_bootstrap");
}

<div id="loading">Loading...</div>
<section  class="ng-cloak" ui-view>
</section>

@using (Script.Foot()) {
    @Display.ClientRoute(IsFrontEnd: false)
}