@{
    Style.Require("pnotify");
    Style.Require("Module");

    Script.Require("jQuery");
    Script.Require("jQueryUI");
    Script.Require("pnotify");
    Script.Require("angular");
    Script.Require("angular_i18n");
    Script.Require("angularResource");
    Script.Require("angularRoute");
    
    Script.Require("ui_utils");
    Script.Require("require");
    Script.Require("angular_UI_Router");
    Script.Require("angular_couchPotato");
    
    Script.Require("i18next");
    Script.Require("ng_i18next");
    Script.Include("directives/jqGrid-directive.js");
    Script.Include("directives/wizard-directive.js");
    Script.Include("directives/dependency-directive.js");
    Script.Include("directives/picklist-directive.js");
    Script.Require("ui_bootstrap");
    Script.Require("spin");
    Script.Require("promisetracker");
    Script.Include("directives/cobusy-directive.js");
}

<div data-loading-indicator id="loading">@T("Loading...")</div>

<section  class="ng-cloak" ui-view>
</section>

@using (Script.Foot()) {
    @Display.ClientRoute(IsFrontEnd: false)
}