@using System.Text
@using Orchard.ContentManagement.MetaData.Models

@{
    Script.Require("MetadataContext");
    Script.Require("UserViewListController");
}

@Display.FootScripts()

<header id="main-header" class="page-header" style="background-image: none; margin-bottom: 0;">
    <h1 id="main-heading" style="background-image: none;">List of Views <span>Display all views</span></h1>
</header>
<section ng-controller="UserViewCtrl">
    <div class="page-actions">
        <button class="btn btn-success" ng-click="add()">
            <i class="icon-plus"></i>&nbsp;@T("Add")
        </button>
        <button class="btn" ng-click="getAll()">
            <i class="icon-refresh"></i>&nbsp;@T("Refresh")
        </button>
    </div>
    <section id="main-content">
        <div class="row-fluid">
            <section class="span12">
                <section class="gridStyle" ng-grid="gridOptions"></section>
            </section>
        </div>
    </section>
</section>

<script>
    $(function() {
        $('.page-actions').affix({ offset: { top: 71 } });
    });
    
    function getColumnDefs(localize) {
        var columnDefs = [
            { field: 'ContentId', displayName: 'Actions', width: 100, cellTemplate: '<div class="ngCellText" ng-class="col.colIndex()"><a ng-click="edit(row.getProperty(col.field))">Edit</a>&nbsp;<a ng-click="delete(row.getProperty(col.field))">Delete</a></div>' },
            { field: 'ContentId', displayName: localize.getLocalizedString('Id') },
            { field: 'EntityType', displayName: localize.getLocalizedString('EntityType') },
            { field: 'DisplayName', displayName: localize.getLocalizedString('DisplayName') }];
        return columnDefs;
    }
</script>


