@using System.Text
@using Orchard.ContentManagement.MetaData.Models

@{
    Script.Require("MetadataContext");
    Script.Require("UserViewListController");
}

@Display.FootScripts()

<header id="main-header" class="page-header" style="background-image: none;margin-bottom: 0;">
    <h1 id="main-heading" style="background-image: none;">List of Views <span>Display all views</span></h1>
</header>
<section ng-controller="UserViewCtrl">
    <div class="form-actions" style="margin-top: -10px; padding-top: 10px; padding-left: 40px; padding-bottom: 10px; height: 30px; border-bottom: 1px solid #e5e5e5">
        <button class="btn btn-success" ng-click="add()">
            <i class="icon-plus"></i> @T("Add")
        </button>
        <button class="btn" ng-click="getAll()">
            <i class="icon-refresh"></i> @T("Refresh")
        </button>
    </div>
    <section id="main-content">
        <div class="row-fluid">
            <section class="span12">
                <section class="gridStyle" ng-grid="gridOptions"></section>
            </section>
        </div>
    </section>
</section>


<script>
    function getColumnDefs(localize) {
        var columnDefs = [
            { field: 'ContentId', displayName: 'Actions', width: 100, cellTemplate: '<button class="btn btn-small" ng-click="edit(row.getProperty(col.field))"><i class="icon-pencil"></i></button><button class="btn btn-small" ng-click="delete(row.getProperty(col.field))"><i class="icon-remove"></i></button>' },
            { field: 'ContentId', displayName: localize.getLocalizedString('Id') },
            { field: 'EntityType', displayName: localize.getLocalizedString('EntityType') },
            { field: 'DisplayName', displayName: localize.getLocalizedString('DisplayName') }];
        return columnDefs;
    }
</script>


