@using Orchard.Utility.Extensions
@model Coevery.Metadata.ViewModels.AddFieldViewModel

@{
    Script.Require("MetadataContext");
    Script.Require("FieldDetailCtrl");
}
@Display.FootScripts()

<header id="main-header" class="page-header" style="background-image: none; margin-bottom: 0;">
    <h1 id="main-heading" style="background-image: none;">Field Detail <span>Field add/edit</span></h1>
</header>
<section ng-controller="FieldDetailCtrl">
    <section class="page-actions">
        <button class="btn" ng-click="next()">Next</button>
        <button class="btn" ng-click="exit()">Exit</button>
    </section>
    <section id="main-content">
        <h5>Step 1. Choose the field type</h5>
        <div class="row-fluid">
            <form>
                @{
                    foreach (var field in Model.Fields) {
                        <section class="control-group">
                            <div class="controls">
                                <label class="radio">
                                    <input type="radio" ng-model="fieldType" value="@field.FieldTypeName">
                                    @field.DisplayName
                                    <span class="help-inline">@field.Description</span>
                                </label>
                            </div>
                        </section>
                    }
                }
                @*<section class="control-group">
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" ng-model="fieldType" value="Input">
                            Text
                            <span class="help-inline">Allows users to enter any combination of letters and numbers.</span>
                        </label>
                    </div>
                </section>
                <section class="control-group">
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" ng-model="fieldType" value="Boolean">
                            Boolean
                            <span class="help-inline">Allows users to select a True or False value.</span>
                        </label>
                    </div>
                </section>
                <section class="control-group">
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" ng-model="fieldType" value="Enumeration">
                            Select
                            <span class="help-inline">Allows users to select a value from a list you define.</span>
                        </label>
                    </div>
                </section>
                <section class="control-group">
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" ng-model="fieldType" value="MultiSelect">
                            Multi-Select
                            <span class="help-inline">Allows users to select multiple values from a list you define.</span>
                        </label>
                    </div>
                </section>*@
            </form>
        </div>
    </section>
</section>

<script type="text/javascript">
    $(function () {
        $('.page-actions').affix({ offset: { top: 71 } });
    });
</script>
