@using Orchard.Utility.Extensions
@model Coevery.Metadata.ViewModels.FieldDependencyViewModel

@{
    Script.Include("controllers/dependencylistcontroller.js");
}
@Display.FootScripts()

<header id="main-header" class="page-header" style="background-image: none; margin-bottom: 0;">
    <h1 id="main-heading" style="background-image: none;">Field Dependency <span>Define dependencies between fields</span></h1>
</header>

<section ng-controller="DependencyListCtrl">
    <section class="page-actions">
        <button class="btn btn-success" ng-click="add()">
            <i class="icon-plus"></i>&nbsp;New
        </button>
        <button class="btn" ng-click="back()">Back</button>
    </section>
    <section id="main-content">
        <section class="gridStyle" ng-grid="gridOptions"></section>
    </section>
</section>

<script type="text/javascript">
    $(function () {
        $('.page-actions').affix({ offset: { top: 71 } });
    });
</script>
