@{
    Script.Include("controllers/itemscontroller.js");
}
@Display.FootScripts()

<header id="main-header" class="page-header" style="background-image: none; margin-bottom: 0;">
    <h1 id="main-heading" style="background-image: none;">Items <span>field's items.</span></h1>
</header>
<section ng-controller="ItemsCtrl">
    <section class="page-actions">
        <button class="btn btn-success" ng-click="add()">
            <i class="icon-plus"></i>&nbsp;Add
        </button>
        <button class="btn" ng-click="back()">Back</button>
    </section>
    <section id="main-content">
        <div class="row-fluid">
            <section class="gridStyle" ng-grid="gridOptions"></section>
        </div>
    </section>
</section>

<script type="text/javascript">
    $(function () {
        $('.page-actions').affix({ offset: { top: 71 } });
    });
</script>
