<section data-ng-init="getAllRelationship()">
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-small btn-success dropdown-toggle" data-toggle="dropdown">
                <i class="icon-plus"></i>&nbsp;Add <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a ng-click="createOneToMany()"><i class="icon-plus"></i>One-to-Many Relationship</a></li>
                <li><a ng-click="createManyToMany()"><i class="icon-plus"></i>Many-to-Many Relationship</a></li>
            </ul>
        </div>
    </div>
    <section class="gridStyle" data-ng-grid="relationshipGridOptions"></section>
</section>
<section id="myModalRelationship" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Confirm</h3>
    </div>
    <div class="modal-body">
        <p>You really want to delete this relationship?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
        <button class="btn btn-primary" ng-click="deleteRelationship()">Yes</button>
    </div>
</section>