
<section class="control-group">
    <div class="controls">
        <label class="radio">
            <input type="radio" ng-model="fieldType" value="CurrencyField">
            Currency
            <span class="help-inline">Allows users to enter currency number.</span>
        </label>
    </div>
</section>
