
<section class="control-group">
    <div class="controls">
        <label class="radio">
            <input type="radio" ng-model="fieldType" value="DatetimeField">
            Datetime
            <span class="help-inline">Allows users to enter date and time.</span>
        </label>
    </div>
</section>
