
<section class="control-group">
    <div class="controls">
        <label class="radio">
            <input type="radio" ng-model="fieldType" value="DateField">
            Date
            <span class="help-inline">Allows users to enter date.</span>
        </label>
    </div>
</section>
