
<section class="control-group">
    <div class="controls">
        <label class="radio">
            <input type="radio" ng-model="fieldType" value="EmailField">
            Email
            <span class="help-inline">Allows users to enter Email address.</span>
        </label>
    </div>
</section>
