
<section class="control-group">
    <div class="controls">
        <label class="radio">
            <input type="radio" ng-model="fieldType" value="UrlField">
            Url
            <span class="help-inline">Allows users to enter Url address.</span>
        </label>
    </div>
</section>
