@using Coevery.Fields.Settings;
@using Orchard.Utility.Extensions;
@{
    decimal? value = (decimal?) Model.ContentField.Value;
    string valueToDisplay = null;

    if (value.HasValue)
    {
        valueToDisplay = value.ToString();
    }
    if (!string.IsNullOrWhiteSpace(valueToDisplay))
    {
        string name = Model.ContentField.DisplayName;
    <p class="text-field">@T(name): @valueToDisplay</p>
    }
}
