@using Coevery.Fields.Settings;
@using Orchard.Utility.Extensions;
@{
    DateTime? value = (DateTime?)Model.ContentField.Value;

    string valueToDisplay = value.Value.ToString();

    if (!string.IsNullOrWhiteSpace(valueToDisplay))
    {
        string name = Model.ContentField.DisplayName;
    <p class="text-field">@T(name): @valueToDisplay</p>
    }
}
