@using Coevery.Fields.Settings;
@using Orchard.Utility.Extensions;
@{
    DateTime? value = (DateTime?)Model.ContentField.Value;
    
    if (value.HasValue) {
        string valueToDisplay = value.Value.ToString("MM/dd/yyyy hh:mm tt");
        if(!string.IsNullOrWhiteSpace(valueToDisplay))
        {
            string name = Model.ContentField.DisplayName;
            <p class="text-field">@T(name): @valueToDisplay</p>
        }
    }
}
