@using Coevery.Fields.Settings;
@using Orchard.Utility.Extensions;
@{
    double? value = Model.ContentField.Value;
    if (value.HasValue) {
        var valueToDisplay = value.Value.ToString("N" + Model.DecimalPlaces);
        if (!string.IsNullOrWhiteSpace(valueToDisplay)) {
            string name = Model.ContentField.DisplayName;
            <div class="data-row clearfix">
                <span class="control-label">@T(name)</span>
                <div class="controls">
                    <span class="control-text">@T(valueToDisplay)</span>
                </div>
            </div>
        }
    }
}
