@using Coevery.Fields.Settings;
@using Orchard.Utility.Extensions;
@{
    string value = Model.ContentField.Value;
    string name = Model.ContentField.DisplayName;
    <span class="control-label">@T(name)</span>
    <div class="controls">
        <span class="control-text">@T(value)</span>
    </div>
}
