
.coe-icon-home:before { content: '\e81a'; } /* '' */
.coe-icon-cloud:before { content: '\e80d'; } /* '' */
.coe-icon-star:before { content: '\e818'; } /* '' */
.coe-icon-star-empty:before { content: '\e819'; } /* '' */
.coe-icon-power:before { content: '\e81b'; } /* '' */
.coe-icon-qrcode:before { content: '\e80c'; } /* '' */
.coe-icon-twitter:before { content: '\e80f'; } /* '' */
.coe-icon-facebook:before { content: '\e80b'; } /* '' */
.coe-icon-pinterest-circled:before { content: '\e803'; } /* '' */
.coe-icon-pinterest-squared:before { content: '\e813'; } /* '' */
.coe-icon-gplus-squared:before { content: '\e805'; } /* '' */
.coe-icon-gplus:before { content: '\e804'; } /* '' */
.coe-icon-flag-empty:before { content: '\e817'; } /* '' */
.coe-icon-flag-checkered:before { content: '\e80e'; } /* '' */
.coe-icon-maxcdn:before { content: '\e809'; } /* '' */
.coe-icon-html5:before { content: '\e816'; } /* '' */
.coe-icon-youtube-squared:before { content: '\e808'; } /* '' */
.coe-icon-youtube:before { content: '\e807'; } /* '' */
.coe-icon-xing-squared:before { content: '\e815'; } /* '' */
.coe-icon-tumblr:before { content: '\e812'; } /* '' */
.coe-icon-tumblr-squared:before { content: '\e811'; } /* '' */
.coe-icon-windows:before { content: '\e806'; } /* '' */
.coe-icon-linux:before { content: '\e801'; } /* '' */
.coe-icon-dribbble:before { content: '\e800'; } /* '' */
.coe-icon-skype:before { content: '\e814'; } /* '' */
.coe-icon-renren:before { content: '\e802'; } /* '' */
.coe-icon-twitter-squared:before { content: '\e810'; } /* '' */
.coe-icon-facebook-squared:before { content: '\e80a'; } /* '' */