
.coe-icon-tasks:before { content: '\e816'; } /* '' */
.coe-icon-calculator:before { content: '\e80e'; } /* '' */
.coe-icon-chart-1:before { content: '\e815'; } /* '' */
.coe-icon-vcard:before { content: '\e80b'; } /* '' */
.coe-icon-basket:before { content: '\e80c'; } /* '' */
.coe-icon-list-alt:before { content: '\e808'; } /* '' */
.coe-icon-chart-pie:before { content: '\e811'; } /* '' */
.coe-icon-credit-card-1:before { content: '\e814'; } /* '' */
.coe-icon-mail-alt:before { content: '\e803'; } /* '' */
.coe-icon-doc-text:before { content: '\e807'; } /* '' */
.coe-icon-dollar:before { content: '\e806'; } /* '' */
.coe-icon-newspaper-1:before { content: '\e813'; } /* '' */
.coe-icon-picture:before { content: '\e802'; } /* '' */
.coe-icon-globe:before { content: '\e80d'; } /* '' */
.coe-icon-target:before { content: '\e810'; } /* '' */
.coe-icon-user:before { content: '\e800'; } /* '' */
.coe-icon-users:before { content: '\e801'; } /* '' */
.coe-icon-credit-card:before { content: '\e809'; } /* '' */
.coe-icon-calendar:before { content: '\e804'; } /* '' */
.coe-icon-chart:before { content: '\e812'; } /* '' */
.coe-icon-chart-bar:before { content: '\e805'; } /* '' */
.coe-icon-newspaper:before { content: '\e80a'; } /* '' */
.coe-icon-clock:before { content: '\e80f'; } /* '' */