@{
    var version = new System.Reflection.AssemblyName(typeof(Coevery.ContentManagement.ContentItem).Assembly.FullName).Version.ToString();
}
<div id="coevery-version">@T("Coevery v.{0}", version)</div>
