<div class="row-fluid">
    <section class="span12 widget">
        <header class="widget-header">
            <span class="title">List Page</span>
        </header>
        <section class="widget-content table-container dataTables_wrapper">
            <section class="dt_header">
                <section class="btn-group">
                    <button class="btn" ng-click="add()">
                        <i class="icol-add"></i> Add
                    </button>
                    <button class="btn" ng-disabled="mySelections.length == 0" ng-click="edit()">
                        <i class="icol-page-white-edit"></i> Edit
                    </button>
                    <button class="btn" ng-disabled="mySelections.length == 0" ng-click="delete()">
                        <i class="icol-cross"></i> Delete
                    </button>
                    <button class="btn" ng-click="getAllLeads()">
                        <i class="icol-arrow-refresh"></i> Refresh
                    </button>
                </section>
            </section>

            <section class="gridStyle" ng-grid="gridOptions"></section>
        </section>
    </section>
</div>