@model Coevery.Fields.Settings.BooleanFieldDisplaySettings
@using Coevery.Fields.Settings;

<section class="control-group">
    <label class="control-label">
        Only Display Option
    </label>
    <div class="controls">
        <select ng-model="booleanDisplayOption" class="span12">
            <option value="checkbox">Checkbox</option>
            <option value="radio">Radio</option>
        </select>
    </div>
</section>