@model Coevery.Fields.Settings.DatetimeFieldSettings
@using Coevery.Fields.Settings;

<section class="control-group">
    <label class="control-label">
        Default Value
    </label>
    <div class="controls">
        @Html.TextBoxFor(d => d.DefaultValue, new { @class = "span12", id = "datetimeDefault" })
        <script>
            $(document).ready(function () {
                var defaultDatetime = $("#datetimeDefault");
                if (defaultDatetime.length != 0) {
                    defaultDatetime.datetimepicker({ ampm: true });
                    //var nonDisplayed = /\d+( [am|pm])/i;
                    //defaultDatetime.val(defaultDatetime.val().replace(nonDisplayed, "$1"));
                }
            });
        </script>
    </div>
</section>
