@model Coevery.Fields.Settings.DatetimeFieldSettings
@using Coevery.Fields.Settings;

<section class="control-group">
    <label class="control-label">
        Default Value
    </label>
    <div class="controls input-append">
        @Html.TextBoxFor(d => d.DefaultValue, new { @class = "span12 date", id = "datetimeDefault", data-format="MM/dd/yyyy HH:mm PP" })
        <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
    </div>
    <script>
        $(document).ready(function () {
            var defaultDatetime = $("#datetimeDefault");
            if (defaultDatetime.length != 0) {
                defaultDatetime.attr("data-format", "MM/dd/yyyy HH:mm PP");
                defaultDatetime.parent().datetimepicker({
                    pick12HourFormat: true,
                    pickSeconds: false,
                });

                var tempDate = new Date(defaultDatetime.val());
                var nonDisplayed = /:\d+$/i;
                var strFor12H;
                if (tempDate.getHours() < 12) {
                    strFor12H = " pm";
                } else {
                    strFor12H = " am";
                }
                defaultDatetime.val(defaultDatetime.val().replace(nonDisplayed, strFor12H));
            }
        });
    </script>
</section>
