@model Coevery.Fields.Settings.DateFieldSettings
@using Coevery.Fields.Settings;

<section class="control-group">  
    <label class="control-label">
        Default Value
    </label>
    <div class="controls">
        @Html.TextBoxFor(d => d.DefaultValue,new { @class = "span12",id="dateDefault",name ="dateDefault"})
        <script>
            $(document).ready(function () {
                var defaultDate = $("#dateDefault");
                if (defaultDate.length != 0) {
                    defaultDate.datepicker();
                    //var nonDisplayed = /(\d+) \d+:\d+:\d+/i;
                    //defaultDate.val(defaultDate.val().replace(nonDisplayed, "$1"));
                }
            });
        </script>
    </div>
</section>
