@model Coevery.Fields.Settings.DatetimeFieldSettings
@using Coevery.Fields.Settings;

<section class="control-group">
    <label class="control-label">
        Default Value
    </label>
    <div class="controls input-append">
        @Html.TextBoxFor(d => d.DefaultValue, new { @class = "span12 date", id = "datetimeDefault", name="datetimeDefault" })
        <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
    </div>
    <script>
        function convertDatetime(dateStr) {
            if (dateStr) {
                var tempDate = new Date(dateStr);
                return tempDate.getMonth() + '/' + tempDate.getDay() + '/' + tempDate.getYear() + ' ' +
                    tempDate.getHours() % 12 + ':' + tempDate.getMinutes() + tempDate.getHours() < 12 ? " pm" : " am";
            } else {
                return "";
            }
        }

        $(document).ready(function () {
            var defaultDatetime = $("#datetimeDefault");
            if (defaultDatetime.length != 0) {
                defaultDatetime.attr("data-format", "MM/dd/yyyy HH:mm PP");
                defaultDatetime.parent().datetimepicker({
                    pick12HourFormat: true,
                    pickSeconds: false,
                });
                defaultDatetime.val(convertDatetime(defaultDatetime.val()));
            }
        });
    </script>
</section>
