@model Coevery.Fields.Settings.SelectFieldSettings
@using Coevery.Fields.Settings;

<section class="control-group">
    <label class="control-label">
        Items
    </label>
    <div class="controls">
        @Html.TextArea("test", new { @class = "span12" })
    </div>
</section>
