@model Coevery.Relationship.Models.ReferenceFieldViewModel
@using System.Web.Mvc.Html
@using Coevery.Relationship.Settings
@using Orchard.Mvc.Html
@{
    var settings = Model.Field.PartFieldDefinition.Settings.GetModel<ReferenceFieldSettings>();
}
<label class="span3 control-label" for="@Html.FieldIdFor(m => m.ContentId)">@Model.Field.DisplayName</label>
<div class="control controls">
    @Html.DropDownListFor(m => m.ContentId, Model.ItemList, new { @class = "textMedium span12"})
</div>

