
/* Icon Definitions
================================================== */

/* sales*/
.icon-sales:before{content:url(../images/sales.png);}
.icol-leads:before{content: url(../images/lead.png);}
.icol-opportunities:before{content: url(../images/opportunity.png);}

/*Home*/

/*admin*/
.icon-admin:before{content:url(../images/admin.png);}
.icol-metadata{background-image: url(../images/metadata.png);background-position: 0px 0px;}
.icol-solutions{background-image: url(../images/solutions.png);background-position: 0px 0px;}

