@{
    Style.Require("pnotify");
    Style.Require("ngGrid");
    Style.Require("Module");

    Script.Require("jQuery");
    Script.Require("jQueryUI");
    Script.Require("pnotify");
    Script.Require("angular");
    Script.Require("angularResource");

    Script.Require("angular_UI_Router");
    Script.Require("ngGrid");
    
    Script.Require("angular_Localize");
    Script.Require("CoeveryAdminApp");
    Script.Include("app/adminlogger.js");
}

<div ng-show="{{$state.transition}}">Loading...</div>
<section  class="ng-cloak"  ui-view ng-animate="'fade'">
</section>

@using (Script.Foot()) {
    <script type="text/javascript">
    //<![CDATA[
        angular.element(document).ready(function () {
            angular.bootstrap(document, ['coevery', function ($locationProvider) {
                //$locationProvider.html5Mode(true).hashPrefix('!');
            }]);
        });
        var lang = { };
    //]]>
    </script>
}

