@using Orchard.ContentManagement
@using Orchard.Utility.Extensions

@{
    Script.Require("CommonContext");
    Script.Require("CommonDetailController");
}
@Display.FootScripts()

@{
    ContentItem contentItem = Model.ContentItem;
    var typeDisplayName = contentItem.TypeDefinition.DisplayName ?? contentItem.ContentType.CamelFriendly();
    var typeName = contentItem.TypeDefinition.Name;
}

@*<header id="main-header" class="page-header" style="background-image: none;margin-bottom: 0;">
    <h1>@typeDisplayName Detail <span>@typeDisplayName add</span></h1>
</header>*@
<section ng-controller="CommonDetailCtrl">
    <section data-spy="affix" data-offset-top="71" class="page-actions">
        <input type="submit" name="submit.Save" value="Save" class="btn btn-primary">
        <input type="button" value="Exit" class="btn" ng-click="exit()" />
    </section>
    <section id="main-content">
        <div class="row-fluid">
            <section class="span12 widget">
                <section class="widget-content form-container">
                    @using (Html.BeginFormAntiForgeryPost(Url.Action("Create", new { Id = typeName, ReturnUrl = Request.QueryString["ReturnUrl"] }),
                                                      FormMethod.Post, new { @class = "form-horizontal", @name = "myForm", @ng_submit = "save()", @ng_controller = "CommonDetailCtrl" }))
                    {
                        @Html.ValidationSummary()
                        // Model is a Shape, calling Display() so that it is rendered using the most specific template for its Shape type


                        Output.Write(Model.Layout);
                    }
                </section>
            </section>
        </div>
    </section>
</section>
@Display(Model)

<script type="text/javascript">
    $(function () {
        $('.page-actions').affix({ offset: { top: 71 } });
    });
</script>