@using Orchard.ContentManagement
@using Orchard.Utility.Extensions

@{
    Script.Require("CommonContext");
    Script.Require("CommonDetailController");
}
@{
    ContentItem contentItem = Model.ContentItem;
    var typeDisplayName = contentItem.TypeDefinition.DisplayName ?? contentItem.ContentType.CamelFriendly();
}
@Display.FootScripts()

<header id="main-header" class="page-header">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>Coevery
                                        <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="#">Sales</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="#">@typeDisplayName</a>
        </li>
        <li>
            <a href="#">Detail</a>
        </li>
    </ul>
    <h1>@typeDisplayName Detail <span>@typeDisplayName add/edit</span></h1>
</header>

<section id="main-content" ng-controller="CommonDetailCtrl">
    @Display(Model)
</section>
