@using Orchard.ContentManagement
@using Orchard.Utility.Extensions

@{
    ContentItem contentItem = Model.ContentItem;
    var typeDisplayName = contentItem.TypeDefinition.DisplayName ?? contentItem.ContentType.CamelFriendly();
}

<section data-ng-controller="GeneralDetailCtrl">
    <section id="main-content">
        <div class="row-fluid">
            <div class="widget toolbar-Container">
                <div class="widget-content">
                    <div class="btn-toolbar">
                        <input type="button" value="Back" class="btn" ng-click="exit()" />
                        <input type="submit" name="submit.Save" value="Save" class="btn btn-primary" ng-click="save()">
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <section class="span12 widget">
                <section class="widget-content form-container">
                    @using (Html.BeginFormAntiForgeryPost(Url.Action("Edit", new { ReturnUrl = Request.QueryString["ReturnUrl"] }),
                                                          FormMethod.Post, new { @class = "form-horizontal", @name = "myForm", @ng_submit = "save()" })) {
                        @Html.ValidationSummary()
                        // Model is a Shape, calling Display() so that it is rendered using the most specific template for its Shape type

                        Output.Write(Model.Layout);
                    }
                </section>
            </section>
        </div>
    </section>
</section>
@Display(Model)

<script type="text/javascript">
    $(function () {
        $('.page-actions').affix({ offset: { top: 71 } });
    });
</script>
