@using Orchard.ContentManagement
@using Orchard.Utility.Extensions

<section data-ng-controller="GeneralViewCtrl">
    <div id="page-actions">
        <h1 class="pull-left">{{moduleName}} <span>view a data</span></h1>
    </div>

    <section id="main-content">
        <header id="page-title" class="clearfix">
            <btn-actions>
                <button class="btn btn-small" ng-click="exit()">Back</button>
                <button class="btn btn-small" ng-click="edit()">Edit</button>
             </btn-actions>
        </header>

        <div class="row-fluid">
            <section class="view-mode span12">
                <form>
                    <section>
                        <header>
                            <span class="show-button"></span>
                            <h5>General Info</h5>
                        </header>
                        <div class="data-row clearfix">
                            <div class="span6">
                                <span class="title control-label">Topic</span>
                                <div class="control controls">
                                    <span class="control-text">Need a new website</span>
                                </div>
                            </div>
                            <div class="span6">
                                <span class="title control-label">IsChina</span>
                                <div class="control controls">
                                    <label class="checkbox" for="Lead_IsChina_Value">
                                        <input type="checkbox" id="Lead_IsChina_Value" value="true" name="Lead.IsChina.Value" checked>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="data-row clearfix">
                            <div class="span6">
                                <span class="title control-label">FirstName</span>
                                <div class="control controls">
                                    <span class="control-text">Will</span>
                                </div>
                            </div>
                            <div class="span6">
                                <span class="title control-label">LastName</span>
                                <div class="control controls">
                                    <label class="checkbox" for="Lead_LastName_Value">
                                        <input type="checkbox" id="Lead_LastName_Value" value="true" name="Lead.LastName.Value">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <header>
                            <span class="show-button"></span>
                            <h5>General Info</h5>
                        </header>
                        <div class="data-row clearfix">
                            <div class="span6">
                                <span class="title control-label">Topic</span>
                                <div class="control controls">
                                    <span class="control-text">Need a new website</span>
                                </div>
                            </div>
                            <div class="span6">
                                <span class="title control-label">IsChina</span>
                                <div class="control controls">
                                    <label class="checkbox" for="Lead_IsChina_Value">
                                        <input type="checkbox" id="Lead_IsChina_Value" value="true" name="Lead.IsChina.Value" checked>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="data-row clearfix">
                            <div class="span6">
                                <span class="title control-label">FirstName</span>
                                <div class="control controls">
                                    <span class="control-text">Will</span>
                                </div>
                            </div>
                            <div class="span6">
                                <span class="title control-label">LastName</span>
                                <div class="control controls">
                                    <label class="checkbox" for="Lead_LastName_Value">
                                        <input type="checkbox" id="Lead_LastName_Value" value="true" name="Lead.LastName.Value">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </section>
        </div>

        <section class="row-fluid related-list">
            <header>
                <h5>Open Activities</h5>
                <div class="btn-toolbar">
                    <button class="btn btn-small btn-success">
                        <i class="icon-plus"></i>&nbsp;New Task
                    </button>
                    <button class="btn btn-small btn-success">
                        <i class="icon-plus"></i>&nbsp;New Event
                    </button>
                </div>
            </header>
            <div class="gridStyle" data-ng-grid="openActivitiesOptions"></div>
        </section>

        <section class="row-fluid related-list">
            <header>
                <h5>Notes</h5>
                <div class="btn-toolbar">
                    <button class="btn btn-small btn-success">
                        <i class="icon-plus"></i>&nbsp;New Note
                    </button>
                </div>
            </header>
            <div class="gridStyle" data-ng-grid="notesOptions"></div>
        </section>
    </section>
</section>

<script>
    $(function () {
        $('.page-actions').affix({ offset: { top: 71 } });
    });
</script>
