@using Orchard.ContentManagement
@using Orchard.Utility.Extensions

<section data-ng-controller="GeneralDetailCtrl">
    <div id="page-actions">
        <button class="btn btn-small" ng-click="exit()">Back</button>
        <button class="btn btn-small btn-primary" ng-click="edit()">Edit</button>
    </div>

    <section id="main-content">
        <header id="page-title">
            <h1>{{moduleName}} <span>view a data</span></h1>
        </header>

        <div class="row-fluid">
            <section class="view-mode span12">
                <form>
                    <fieldset>
                        <header>
                            <legend>
                                <h5>General Info</h5>
                            </legend>
                        </header>
                        <div class="data-row clearfix">
                            <div class="span6">
                                <label class="title control-label" for="Lead_Topic_Value">Topic</label>
                                <div class="control controls">
                                    <span class="control-text">Need a new website</span>
                                </div>
                            </div>
                            <div class="span6">
                                <label class="title control-label" for="Lead_IsChina_Value">IsChina</label>
                                <div class="control controls">
                                    <label class="checkbox" for="Lead_IsChina_Value">
                                        <input type="checkbox" id="Lead_IsChina_Value" value="true" name="Lead.IsChina.Value">
                                        <input name="Lead.IsChina.Value" type="hidden" value="false">
                                        True
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="data-row clearfix">
                            <div class="span6">
                                <label class="title control-label" for="Lead_FirstName_Value">FirstName</label>
                                <div class="control controls">
                                    <span class="control-text">Will</span>
                                </div>
                            </div>
                            <div class="span6">
                                <label class="title control-label" for="Lead_LastName_Value">LastName</label>
                                <div class="control controls">
                                    <label class="checkbox" for="Lead_LastName_Value">
                                        <input type="checkbox" id="Lead_LastName_Value" value="true" name="Lead.LastName.Value">
                                        <input name="Lead.LastName.Value" type="hidden" value="false">
                                        True
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </section>
        </div>
    </section>
</section>

<script>
    $(function () {
        $('.page-actions').affix({ offset: { top: 71 } });
    });
</script>
