@using Orchard.ContentManagement

@{
    ContentItem contentItem = Model.ContentItem;
}

<section data-ng-controller="GeneralViewCtrl">
    <header id="page-title">
        <h1 class="pull-left">@Html.ItemDisplayText(contentItem) <span>view a data</span></h1>
    </header>
    <section id="main-content">
        <div id="page-actions" class="clearfix">
            <btn-actions>
                <button class="btn btn-small" ng-click="exit()">Back</button>
                <button class="btn btn-small" ng-click="edit()">
                    <i class="icon-edit"></i>&nbsp;Edit
                </button>
            </btn-actions>
        </div>

        <div class="row-fluid">
            <section class="view-mode span12">
                @{ Output.Write(Model.Layout); }
            </section>
        </div> 
        
        @Display(Model.Content)

@*        <section class="row-fluid related-list">
            <header>
                <h5>History</h5>
            </header>
            <div class="gridStyle" data-ng-grid="historiesOptions"></div>
        </section>*@
    </section>
</section>
<section id="myModalRelationship" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Confirm</h3>
    </div>
    <div class="modal-body">
        <p>You really want to delete this relationship?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
        <button class="btn btn-primary" ng-click="deleteRelationship()">Yes</button>
    </div>
</section>
<script>
    $(function () {
        $('.page-actions').affix({ offset: { top: 71 } });
    });
</script>
