<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>

  <autofac defaultAssembly="Coevery.Framework">
    <components>
      
      <!--<component instance-scope="single-instance" 
                 type="Coevery.Specs.Hosting.TraceEnabledDataServicesProviderFactory, Coevery.Specs"
                 service="Coevery.Data.Providers.IDataServicesProviderFactory, Coevery.Framework"/>-->
      
    </components>
  </autofac>

</configuration>

