@{
    Script.Include("controllers/manytomanydetailcontroller.js");
}
@Display.FootScripts()

<style>
    .pickList .btn [class^="icon-"] {
        width: auto;
    }
</style>

<header id="main-header" class="page-header" style="background-image: none; margin-bottom: 0;">
    <h1 style="background-image: none;">Many to Many Relationship Detail <span>show many to many relationship detail information</span></h1>
</header>

<section ng-controller="ManyToManyDetailCtrl">
    <div class="page-actions">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn" ng-click="exit()">Cancel</button>
    </div>
    <section id="main-content">
        <div class="row-fluid">
            <form class="form-horizontal">
                <section class="control-group">
                    <label class="control-label">
                        Relationship Name
                    </label>
                    <div class="controls">
                        <input type="text" class="span12" />
                    </div>
                </section>
                <section class="control-group">
                    <label class="control-label">
                        Primary Entity
                    </label>
                    <div class="controls">
                        <select class="span12">
                            <option>Please select one entity</option>
                        </select>
                    </div>
                </section>
                <section class="control-group">
                    <label class="control-label">
                        Related Entity
                    </label>
                    <div class="controls">
                        <select class="span12">
                            <option>Please select one entity</option>
                        </select>
                    </div>
                </section>
                <section class="control-group">
                    <label class="control-label">
                        Primary Entity List Label
                    </label>
                    <div class="controls">
                        <input type="text" class="span12" />
                    </div>
                </section>
                <section class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="showPrimaryList" />
                            Show Primary Entity List in the Related Entity's Detail Page
                        </label>
                    </div>
                </section>
                <section class="control-group" ng-show="showPrimaryList">
                    <div class="controls">
                        <select id="picklist-current" name="picklist[]">
                            <option>Apple</option>
                            <option selected="selected">Banana</option>
                            <option selected="selected">Kiwi</option>
                            <option>Orange</option>
                            <option>Pear</option>
                            <option>Grape</option>
                            <option>Mango</option>
                            <option>Peach</option>
                            <option>Dragon Fruit</option>
                            <option>Durian</option>
                            <option>Avocado</option>
                            <option>Cherry</option>
                        </select>
                    </div>
                </section>
                <section class="control-group">
                    <label class="control-label">
                        Related Entity List Label
                    </label>
                    <div class="controls">
                        <input type="text" class="span12" />
                    </div>
                </section>
                <section class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="showRelatedList" />
                            Show Related Entity List in the Primary Entity's Detail Page
                        </label>
                    </div>
                </section>
                <section class="control-group" ng-show="showRelatedList">
                    <div class="controls">
                        <select id="picklist-other" name="picklist[]">
                            <option>Apple</option>
                            <option selected="selected">Banana</option>
                            <option selected="selected">Kiwi</option>
                            <option>Orange</option>
                            <option>Pear</option>
                            <option>Grape</option>
                            <option>Mango</option>
                            <option>Peach</option>
                            <option>Dragon Fruit</option>
                            <option>Durian</option>
                            <option>Avocado</option>
                            <option>Cherry</option>
                        </select>
                    </div>
                </section>
            </form>
        </div>
    </section>
</section>
<script>
    $(document).ready(
        function () {
            $('.page-actions').affix({ offset: { top: 71 } });
            $('#picklist-other,#picklist-current').picklist({
                addAllLabel: '<i class="icon-caret-right"></i><i class="icon-caret-right"></i>',
                addLabel: '<i class="icon-caret-right"></i>',
                removeAllLabel: '<i class="icon-caret-left"></i><i class="icon-caret-left"></i>',
                removeLabel: '<i class="icon-caret-left"></i>',
                sourceListLabel: "Available Fields",
                targetListLabel: "Selected Fields"
            });
        }
    );
</script>