
<section class="control-group">
    <div class="controls">
        <label class="radio">
            <input type="radio" ng-model="fieldType" value="BooleanField">
            Boolean
            <span class="help-inline">@T("Allows users to enter any combination of letters and numbers.")</span>
        </label>
    </div>
</section>
