
<section class="control-group">
    <div class="controls">
        <label class="radio">
            <input type="radio" ng-model="fieldType" value="MultilineTextField">
            Multiline Text
            <span class="help-inline">Allows users to enter multiple lines of text.</span>
        </label>
    </div>
</section>
