
<section class="control-group">
    <div class="controls">
        <label class="radio">
            <input type="radio" ng-model="fieldType" value="NumberField">
            Number
            <span class="help-inline">Allows users to enter number with specified length and decimal place.</span>
        </label>
    </div>
</section>
