
<section class="control-group">
    <div class="controls">
        <label class="radio">
            <input type="radio" ng-model="fieldType" value="PhoneField">
            Phone
            <span class="help-inline">Allows users to enter phone numbers.</span>
        </label>
    </div>
</section>
