
<section class="control-group">
    <div class="controls">
        <label class="radio">
            <input type="radio" ng-model="fieldType" value="TextField">
            Text
            <span class="help-inline">Allows users to enter any text.</span>
        </label>
    </div>
</section>
