#navigation header {
    display: none;
}

.navbar-inner {
    min-height: 69px;
}

.icon-form:before {
    content: "\f03a";
}


.icon-statistics:before {
    content: "\e0a2";
}

.icol-static-tables {
    background-position: -160px -208px;
}

.icol-responsive-tables {
    background-position: -448px -96px;
}

.icol-creative-version {
    background-position: -496px -160px;
}

.icol-form-layouts {
    background-position: -384px -112px;
}

.icol-form-elements {
    background-position: -48px -240px;
}

.widget-content .sortable-list > ul > li:before {
    content: none;
}

#navigation .widget:after,
#navigation .widget:before {
    content: none;
}

#page-actions h1 {
    float: left;
    font-size: 24px;
    color: #444;
    margin: 0;
    padding: 10px 0;
    -webkit-text-shadow: -1px -1px #f0f0f0;
    text-shadow: -1px -1px #f0f0f0;
}

    #page-actions h1 > span {
        color: #777;
        font-size: 11px;
        font-weight: normal;
        padding-left: 6px;
        margin-left: 6px;
        border-left: 1px dotted #aaa;
        line-height: 1;
        -webkit-text-shadow: none;
        text-shadow: none;
    }
/* ------------------------------------------------------------------------ */
/* SystemAdmin Buttons  */
/* ------------------------------------------------------------------------ */
#page-title h1 span {
    border-left: 1px dotted #AAAAAA;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

#page-title h1 span {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#page-title h1 {
    font-size: 24px;
    margin: 3px 0;
}

#page-actions .btn-toolbar {
    margin: 17px 0;
}

#page-actions .btn-fixed {
    position: fixed;
    top: 65px;
    z-index: 999;
}

#page-actions .btn-toolbar {
    margin: 15px 0;
}

/*#wrapper .sidebar-minimized #main #page-actions {
    left: 70px;
}*/
/* ------------------------------------------------------------------------ */
/* End SystemAdmin Buttons  */
/* ------------------------------------------------------------------------ */

/*Related List*/
.related-list {
    margin-top: 20px;
    border-top: 2px solid #41b7d8;
}

    .related-list > header > h5 {
        margin-right: 40px;
        display: inline-block;
    }

    .related-list > header > .btn-toolbar {
        display: inline-block;
        font-size: 14px;
    }
/* ------------------------------------------------------------------------ */
/* Form Style  */
/* ------------------------------------------------------------------------ */

form .control-group .control-label.required:before {
    content: "*";
    color: red;
    margin-right: 5px;
    vertical-align: text-top;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

form .control-group.success,
form .control-group.success input.success,
form .control-group.success .input-prepend span.add-on,
form .control-group.success .control-label {
    border-color: rgb(204, 204, 204);
    color: rgb(68, 68, 68);
}

    form .control-group.success span.help-block,
    form .control-group.error span.help-block {
        color: rgb(136, 136, 136);
    }

/*admin icons margin*/
ul.row-actions li {
    margin-right: 4px;
}

/*admin list designer detail*/

span.fieldtoadd {
    line-height: 14px;
}

    span.fieldtoadd button {
        line-height: 14px;
    }

.viewfields-widget {
    max-height: 400px;
    overflow-y: auto;
}

    .viewfields-widget #sortable li {
        background: url("images/cache.gif") no-repeat 5px;
        padding-left: 18px;
        padding-bottom: 5px;
        padding-top: 5px;
        border: 1px solid #ccc;
        cursor: move;
        zoom: 1;
        margin-top: 5px;
    }

        .viewfields-widget #sortable li:before {
            content: none;
        }
/* sorted by span*/
.sortedbyspan {
    margin: 20px 0;
}

    .sortedbyspan .control-label {
        text-align: left;
        width: 100px;
    }

/*dialog style*/
fieldset legend + .control-group {
    margin-top: 0;
}

/*widget style*/
.nav-tabs > li > a {
    border: 1px solid #CFCFCF;
    border-bottom: none;
    border-radius: 0;
    line-height: 20px;
    padding: 8px 12px;
    margin-right: 0px;
    display: block;
    color: #555555;
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 9;
}

    .nav-tabs > li > a:hover {
        border: 1px solid #CFCFCF;
        border-bottom: none;
        border-top: 2px solid #a2c852;
        background-color: #fafafa;
        padding-top: 7px;
    }

.nav-tabs > li > a {
    background-color: #fafafa;
}

.nav-tabs > li + li > a,
.nav-tabs > li + li > a:hover,
.nav-tabs > li + li.active > a,
.nav-tabs > li + li > a:focus,
.nav-tabs > li + li.active > a:hover,
.nav-tabs > li + li.active > a:focus {
    border-left: none;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    border: 1px solid #CFCFCF;
    border-bottom: none;
    border-image: none;
    border-bottom-color: #fff;
    border-top: 2px solid #a2c852;
    background-color: #fff;
    color: #555555;
    cursor: default;
}

.nav.nav-tabs > .active > a {
    border-top: 2px solid #a2c852;
    background-color: #fff;
    padding-top: 8px;
}

.nav.nav-tabs + .tab-content {
    border: none;
}

.widget .tab-content {
    padding: 0;
}

ul.nav.nav-tabs {
    margin-bottom: 0px;
    border: none;
}

.mytabs {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 8px;
    margin-top: 20px;
    position: relative;
}

/*Modal/Dialog*/
.modal.ng-scope {
    position: absolute;
}

/*Icons*/
.iconrow {
    max-width: 550px;
}

.iconspan {
    white-space: nowrap;
    overflow-x: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor: pointer;
}

    .iconspan.selected {
        background-color: #C9DDE1;
    }

    .iconspan i,
    #showIconClass {
        font-size: 20px;
    }

