/*#navigation header {
    display: none;
}
#header .navbar-inner {
    min-height: 69px;
}
.icon-form:before{content:"\f03a";}
.icon-statistics:before{content:"\e0a2";}
.icol-static-tables {background-position: -160px -208px;}
.icol-responsive-tables {background-position: -448px -96px;}
.icol-creative-version {background-position: -496px -160px;}
.icol-form-layouts {background-position: -384px -112px;}
.icol-form-elements{background-position: -48px -240px;}
#navigation .widget:after,
#navigation .widget:before {
    content: none;
}*/

/*#wrapper #content-outer > header {
  min-height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  border-width: 1px 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}*/

#loading {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -35px;
    display: none;
    background: gold;
    padding: 0.3em;
    font-weight: bold;
    z-index: 1000;
}

#wrapper #content-wrap {
    padding: 69px 0 0 0;
}

#wrapper #main {
    padding-bottom: 0;
}

#main-content {
    margin-top: 47px;
}

#wrapper #content.sidebar-minimized #sidebar {
    z-index: 1000;
    position: fixed;
}

/*First Navigation Selector*/
#nav-selector {
    padding: 13px 20px;
    border-bottom: 1px solid rgb(200, 200, 200);
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

    #nav-selector #selector {
        display: block;
        font-size: 20px;
        font-weight: 200;
        color: #777;
        -webkit-text-shadow: 0 1px 0 #fff;
        text-shadow: 0 1px 0 #fff;
    }

        #nav-selector #selector:hover,
        #nav-selector #selector:focus {
            text-decoration: none;
        }

        #nav-selector #selector > span {
            white-space: nowrap;
            overflow: hidden;
            max-width: 160px;
            display: inline-block;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

/*Page Actions*/
#page-actions {
    margin-top: 69px;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 211px;
    padding: 0 40px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    border-bottom: 1px solid #d4d4d4;
    font-size: 0;
}

    #page-actions .btn {
        min-width: 70px;
    }

    #page-actions > .btn,
    #page-actions > .btn-group {
        margin: 10px 0 10px 10px;
    }

        #page-actions > .btn:first-child,
        #page-actions > .btn-group:first-child {
            margin-left: 0;
        }

/*Page Title*/
#page-title h1 {
    float: left;
    font-size: 24px;
    color: #444;
    margin: 0;
    padding: 10px 0;
    -webkit-text-shadow: -1px -1px #f0f0f0;
    text-shadow: -1px -1px #f0f0f0;
}

    #page-title h1 > span {
        color: #777;
        font-size: 11px;
        font-weight: normal;
        padding-left: 6px;
        margin-left: 6px;
        border-left: 1px dotted #aaa;
        line-height: 1;
        -webkit-text-shadow: none;
        text-shadow: none;
    }

#page-title .btn-toolbar {
    float: right;
    margin: 17px 0;
}

/*Edit View*/
.edit-view {
    /*background-color: #f8f8f8;*/
}

    .edit-view section header {
        /*padding: 5px 16px;
        background-color: rgba(138, 158, 190, 0.8);*/
    }

        .edit-view section header h5 {
            /*margin: 0;*/
        }

            .edit-view section header h5.sub {
                -webkit-text-shadow: none;
                text-shadow: none;
            }

            .edit-view section header h5 span {
                background-color: #fff;
            }

    .edit-view .data-row {
        margin: 10px 0;
        padding: 0 20px;
    }

        .edit-view .data-row .control-label {
            text-align: left;
            width: 120px;
            float: left;
            padding-top: 5px;
            color: #777;
        }

        .edit-view .data-row .controls {
            margin-left: 140px;
        }

    .edit-view form {
        margin: 0;
    }

        .edit-view form > .data-section {
            margin-top: 20px;
        }

            .edit-view form > .data-section:first-child {
                margin-top: 0;
            }

/*View Mode*/
.view-mode {
}

    .view-mode header {
        margin: 0;
        border-bottom: 1px solid #ebaf59;
    }

        .view-mode header h5 {
            display: inline-block;
        }

        .view-mode header .show-button,
        .view-mode header .hide-button {
            margin-right: 4px;
            background-repeat: no-repeat;
            background-image: url('images/twisty_sprite.png');
            height: 11px;
            width: 11px;
            display: inline-block;
            cursor: pointer;
        }

        .view-mode header .show-button {
            background-position: 0 -11px;
        }

        .view-mode header .hide-button {
            background-position: 0 0;
        }

    .view-mode .data-row {
        padding: 5px 20px;
    }

        .view-mode .data-row + .data-row {
            border-top: 1px solid #ececec;
        }

        .view-mode .data-row .control-label {
            text-align: left;
            width: 120px;
            float: left;
            padding-top: 5px;
            color: #777;
        }

        .view-mode .data-row .controls {
            margin-left: 140px;
        }

            .view-mode .data-row .controls .control-text {
                padding-top: 5px;
                display: block;
            }

    .view-mode form {
        margin: 0;
    }

        .view-mode form > .data-section {
            margin-top: 20px;
        }

            .view-mode form > .data-section:first-child {
                margin-top: 0;
            }

/*Related List*/
.related-list {
    margin-top: 20px;
    border-top: 2px solid #ebaf59;
}

    .related-list > header > h5 {
        margin-right: 40px;
        display: inline-block;
    }

    .related-list > header > .btn-toolbar {
        display: inline-block;
        font-size: 14px;
    }
