/*#navigation header {
    display: none;
}
#header .navbar-inner {
    min-height: 69px;
}
.icon-form:before{content:"\f03a";}
.icon-statistics:before{content:"\e0a2";}
.icol-static-tables {background-position: -160px -208px;}
.icol-responsive-tables {background-position: -448px -96px;}
.icol-creative-version {background-position: -496px -160px;}
.icol-form-layouts {background-position: -384px -112px;}
.icol-form-elements{background-position: -48px -240px;}
#navigation .widget:after,
#navigation .widget:before {
    content: none;
}*/

/*#wrapper #content-outer > header {
  min-height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  border-width: 1px 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}*/

#loading
{
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -35px;
    display: none;
    background: gold;
    padding: 0.3em;
    font-weight: bold;
    z-index: 1000;
}

#wrapper #main
{
    padding-bottom: 0;
}

/*Page Title*/
#page-title h1
{
    float: left;
    font-size: 24px;
    color: #444;
    margin: 0;
    padding: 10px 0;
    -webkit-text-shadow: -1px -1px #f0f0f0;
    text-shadow: -1px -1px #f0f0f0;
}

    #page-title h1 > span
    {
        color: #777;
        font-size: 11px;
        font-weight: normal;
        padding-left: 6px;
        margin-left: 6px;
        border-left: 1px dotted #aaa;
        line-height: 1;
        -webkit-text-shadow: none;
        text-shadow: none;
    }

#page-title .btn-toolbar
{
    margin: 15px 0;
}

#page-title .btn-fixed
{
    position: fixed;
    top: 65px;
    z-index: 999;
}

/*Edit Mode*/
.edit-mode
{
}

    .edit-mode legend {
        border-bottom: 1px solid #ebaf59;
    }

    .edit-mode .data-row
    {
        margin: 10px 0;
        padding: 0 20px;
    }

        .edit-mode .data-row .control-label
        {
            text-align: right;
            width: 120px;
            float: left;
            padding-top: 5px;
        }

            .edit-mode .data-row .control-label.required:before
            {
                content: "*";
                color: red;
                margin-right: 5px;
                vertical-align: text-top;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
            }

        .edit-mode .data-row .controls
        {
            margin-left: 140px;
        }

    .edit-mode form
    {
        margin: 0;
    }

        .edit-mode form > .data-section
        {
            margin-top: 20px;
        }

            .edit-mode form > .data-section:first-child
            {
                margin-top: 0;
            }

    .edit-mode .control-group
    {
        margin: 0;
    }

        .edit-mode .control-group.error
        {
            color: #b94a48;
        }

/*View Mode*/
.view-mode
{
}

    .view-mode header
    {
        margin: 0;
        border-bottom: 1px solid #ebaf59;
    }

        .view-mode header h5
        {
            display: inline-block;
        }

        .view-mode header .show-button,
        .view-mode header .hide-button
        {
            margin-right: 4px;
            background-repeat: no-repeat;
            background-image: url('images/twisty_sprite.png');
            height: 11px;
            width: 11px;
            display: inline-block;
            cursor: pointer;
        }

        .view-mode header .show-button
        {
            background-position: 0 -11px;
        }

        .view-mode header .hide-button
        {
            background-position: 0 0;
        }

    .view-mode .data-row
    {
        padding: 5px 20px;
    }

        .view-mode .data-row + .data-row
        {
            border-top: 1px solid #ececec;
        }

        .view-mode .data-row .control-label
        {
            text-align: right;
            width: 120px;
            float: left;
            padding-top: 5px;
            color: #777;
        }

        .view-mode .data-row .controls
        {
            margin-left: 140px;
        }

            .view-mode .data-row .controls .control-text
            {
                padding-top: 5px;
                display: block;
            }

    .view-mode form
    {
        margin: 0;
    }

        .view-mode form > .data-section
        {
            margin-top: 20px;
        }

            .view-mode form > .data-section:first-child
            {
                margin-top: 0;
            }

/*Related List*/
.related-list
{
    margin-top: 20px;
    border-top: 2px solid #41b7d8;
}

    .related-list > header > h5
    {
        margin-right: 40px;
        display: inline-block;
    }

    .related-list > header > .btn-toolbar
    {
        display: inline-block;
        font-size: 14px;
    }



/*Page Actions*/
#page-actions h1
{
    font-size: 24px;
    margin: 3px 0;
}

    #page-actions h1 span
    {
        font-size: 11px;
        line-height: 1;
        font-weight: normal;
        border-left: 1px dotted #aaa;
        padding-left: 5px;
    }

#page-actions #actions
{
    margin-left: 30px;
    display: none;
}
