@using Coevery.DisplayManagement.Shapes
@{
    Model.Content.AdditionalParams = Model.AdditionalParams;
}

@Display(Model.Header)
<section id="main-content">
    <div id="page-actions" class="clearfix">
        @if (Model.Actions != null) {
            <btn-actions>
                @Display(Model.Actions)
            </btn-actions>
        }
    </div>
    @Display(Model.Content)
</section>

@Display(Model.Sidebar)
