
@Display.PerspectiveMenuItem(ItemList: Model)
<nav id="navigation">
    <ul class="collapse in">
        <li  data-ng-repeat="menu in currentMenu.Items" data-ng-class="{active: $uiRoute}" data-ui-route="{{menu.Href}}/?.*">
            <a href="{{menu.Href}}" title="{{menu.Text.Text}}">
                <i class="{{menu.class}} vertical-middle"></i>
                <span class="nav-title vertical-middle">{{menu.Text.Text}}</span>
            </a>
        </li>
    </ul>
</nav>
