@Display(Model.Header)
<section id="main-content">
    <div id="page-actions" class="clearfix">
        @if (Model.Actions != null) {
            <div btn-actions>
                @Display(Model.Actions)
            </div>
        }
    </div>
    @Display(Model.Content)
</section>