@using Orchard.ContentManagement
@using Orchard.Utility.Extensions;
@using System.Linq;
@{
    string title = Model.Title;
    if (!String.IsNullOrEmpty(title)) {
        bool isLink = Model.DisplayAsLink;
        string name = Model.ContentField.DisplayName;
        ContentItem item = Model.ContentField.ContentItem;
        
        <p class="enumeration-field enumeration-field-@name.HtmlClassify()">
            <span class="name">@name:</span>
            @if (isLink) {
                <span class="value">@Html.ItemDisplayLink(Html.Raw(title).ToString(), item)</span>
            } else {
                <span class="value">@Html.Raw(title)</span>
            }
        </p>
    }
}