<div class="ngCellText" ng-class="col.colIndex()" title="{{COL_FIELD}}">
    <span class="btn-link" ng-click="view(row.entity.ContentId)">{{COL_FIELD}}</span>
    <ul class="pull-right">
        <li class="icon-edit" ng-click="edit(row.entity.ContentId)" title="编辑"></li>
        <li class="icon-remove" ng-click="delete(row.entity.ContentId)" title="删除"></li>
        <li class="icon-collapse-down" data-toggle="dropdown" title="更多">
            <ul class="dropdown-menu pull-right" style="width: 100px;">
                <li>关联</li>
            </ul>
        </li>
    </ul>
</div>
