<div class="ngCellText" ng-class="col.colIndex()" title="{{COL_FIELD}}">
    <ul class="row-actions pull-right hide">
        <li class="icon-edit" ng-click="edit(row.entity.ContentId)" title="Edit"></li>
        <li class="icon-remove" ng-click="delete(row.entity.ContentId)" title="Delete"></li>
    </ul>
    <span class="btn-link" ng-click="view(row.entity.ContentId)">{{COL_FIELD}}</span>
</div>
