<div class="row-fluid">
    <section class="span12 widget">
        <header class="widget-header">
            <span class="title">&nbsp;</span>
        </header>
        <section class="widget-content form-container">
            <form name="myForm" class="form-horizontal" ng-submit="save()">
                @Display(Model.Content)
                <section class="form-actions">
                    <input type="submit" value="Save" class="btn btn-primary" ng-disabled="!myForm.$valid">
                    <input type="button" value="Exit" class="btn" ng-click="exit()" />
                </section>
            </form>
        </section>
    </section>
</div>