<div style="margin-top: 5px; margin-left: 5px;">
    <span class="span2">
        <a ng-click="edit(row.getProperty(col.field))">Edit</a></span><span class="span2"></span>
    <span class="span2"><a ng-click="delete(row.getProperty(col.field))">Remove</a></span>
</div>
