@using System.ComponentModel
@model Coevery.Perspectives.ViewModels.PerspectiveViewModel

<header id="main-header" class="page-header" style="background-image: none; margin-bottom: 0;">
    <h1 style="background-image: none;">Perspective Detail <span>show perspective detail information</span></h1>
</header>

<section ng-controller="PerspectivesEditCtrl">
    <div class="page-actions">
        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
        <button type="button" class="btn" ng-click="exit()">Exit</button>
    </div>
    <section id="main-content">
        <div class="row-fluid">
             @using (Html.BeginFormAntiForgeryPost(Url.Action("Create", new { ReturnUrl = Request.QueryString["ReturnUrl"] }),
                                                          FormMethod.Post,
                                                          new { @class = "form-horizontal", @name = "myForm", @ng_submit = "save()" }))
            {
                @* <section class="control-group">
                    <label class="control-label" for="displayLabel">
                        Display Label
                    </label>
                    <div class="controls">
                        <input type="text" class="span12" id="displayLabel" ng-model="displayLabel">
                    </div>
                </section>*@
                 <section class="control-group">
                    <label class="control-label" for="Title">Title</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Title, new { @class = "span12" })
                        <span class="hint">title</span>
                    </div>
                </section>
                @*  <section class="control-group">
                    <label class="control-label" for="description">
                        Description
                    </label>
                    <div class="controls">
                        <textarea class="span12" id="description" ng-model="description"></textarea>
                    </div>
                </section>*@
            }
        </div>
    </section>
</section>

<script>
    $(function() {
        $('.page-actions').affix({ offset: { top: 71 } });
    });
</script>