@using System.ComponentModel
@model Coevery.Perspectives.ViewModels.PerspectiveViewModel
<section>
    <div id="page-actions">
        <h1 class="pull-left">@T("Perspective Detail ") <span>show perspective detail information</span></h1>
    </div>
</section>

<section id="main-content" style="margin-top:47px">
    <header id="page-title" class="clearfix">
        <btn-actions>
            <button type="button" class="btn btn-small" data-ng-click="exit()">Back</button>
            <button type="button" class="btn btn-small btn-primary" data-ng-click="save()">Save</button>
        </btn-actions>
    </header>
    <div class="row-fluid">
        <div class="span12">
            <div class="form-horizontal no-border">
                @using (Html.BeginFormAntiForgeryPost(Url.Action("Create", new { id = Model.Id, ReturnUrl = Request.QueryString["ReturnUrl"] }),
                                                              FormMethod.Post,
                                                              new { @class = "form-horizontal", @name = "myForm" })) {
                    <section class="control-group">
                        <label class="control-label">Title</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Title, new { @class = "span12" })
                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('.page-actions').affix({ offset: { top: 71 } });
    });
</script>
