@using System.ComponentModel
@model Coevery.Perspectives.ViewModels.PerspectiveViewModel
<header id="main-header" class="page-header" style="background-image: none; margin-bottom: 0;">
    <h1 style="background-image: none;">Perspective Detail <span>show perspective detail information</span></h1>
</header>

<section id="main-content">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget toolbar-Container">
                <div class="widget-content">
                    <div class="btn-toolbar">
                        <button class="btn" data-ng-click="exit()">Back</button>
                        <button class="btn btn-primary" data-ng-click="save()">Save</button>
                        <button class="btn btn-primary" data-ng-click="saveAndBack()">Save & Back</button>
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="widget-content form-container">
                    <div class="form-horizontal no-border">
                        @using (Html.BeginFormAntiForgeryPost(Url.Action("Edit", new { id = Model.Id, ReturnUrl = Request.QueryString["ReturnUrl"] }),
                                                              FormMethod.Post,
                                                              new { @class = "form-horizontal", @name = "myForm", @ng_submit = "save()" })) {
                            <section class="control-group">
                                <label class="control-label">Title</label>
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.Title, new { @class = "span12" })
                                </div>
                            </section>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $('.page-actions').affix({ offset: { top: 71 } });
    });
</script>
