@using System.ComponentModel
@model Coevery.Perspectives.ViewModels.NavigationViewModel
<section>
    <div id="page-actions">
        <h1 class="pull-left">@T("Navigation Item Detail") <span>show navigation item detail information</span></h1>
    </div>
</section>
<section id="main-content" style="margin-top: 47px">
    <header id="page-title" class="clearfix">
        <btn-actions>
            <button type="button" class="btn btn-small" data-ng-click="exit()">Back</button>
            <button type="button" class="btn btn-small btn-primary" data-ng-click="save()">Save</button>
            <button class="btn btn-primary btn-small" data-ng-click="saveAndBack()">Save & Back</button>
        </btn-actions>
    </header>

    <div class="row-fluid">
        <div class="span12">
            <div class="form-horizontal no-border">
                @using (Html.BeginFormAntiForgeryPost(Url.Action("EditNavigationItem", new { perspectiveId = Model.PrespectiveId, navigationId = Model.NavigationId, ReturnUrl = Request.QueryString["ReturnUrl"] }),
                                                  FormMethod.Post,
                                                  new { @class = "form-horizontal form-fontstyle", @name = "myForm", @ng_submit = "save()" })) {
                    <fieldset>
                        <legend>General Information</legend>
                        <section class="control-group">
                            <label class="control-label">Title</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Title, new { @readonly = "readonly", @class = "span12" })
                            </div>
                        </section>
                        <section class="control-group">
                            <label class="control-label">Entity</label>
                            <div class="controls">
                                @Html.DropDownList("EntityName", Model.Entities, new { id = "EntityName" })
                            </div>
                        </section>
                        <section class="control-group">
                            <label class="control-label">Color</label>
                            <div class="controls">
                                <input id="color" type="text" class="minicolors">
                            </div>
                        </section>
                        <section class="control-group">
                            <label class="control-label">Icon</label>
                            <div class="controls">
                                <input type="file" id="input04" data-provide="fileinput">
                            </div>
                        </section>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(
        function () {
            $('.page-actions').affix({ offset: { top: 71 } });
        }
    );
</script>
