<div class="modal-header">
    <button type="button" class="close" ng-click="exit()">&#215</button>
    <h3>Select Icon</h3>
</div>
<div class="modal-body">
    <h5>Select the Icon</h5>
    <div class="row-fluid">
        <div class="form-container">
            <div id="icons" class="container">
                <div class="row">
                    <div title="Code: 0xe80d" class=" span3"><i class="icon-cloud"></i> <span class="i-name">icon-cloud</span><span class="i-code">0xe80d</span></div>
                    <div title="Code: 0xe818" class=" span3"><i class="icon-star"></i> <span class="i-name">icon-star</span><span class="i-code">0xe818</span></div>
                    <div title="Code: 0xe819" class=" span3"><i class="icon-star-empty"></i> <span class="i-name">icon-star-empty</span><span class="i-code">0xe819</span></div>
                    <div title="Code: 0xe80c" class=" span3"><i class="icon-qrcode"></i> <span class="i-name">icon-qrcode</span><span class="i-code">0xe80c</span></div>
                </div>
                <div class="row">
                    <div title="Code: 0xe80f" class=" span3"><i class="icon-twitter"></i> <span class="i-name">icon-twitter</span><span class="i-code">0xe80f</span></div>
                    <div title="Code: 0xe80b" class=" span3"><i class="icon-facebook"></i> <span class="i-name">icon-facebook</span><span class="i-code">0xe80b</span></div>
                    <div title="Code: 0xe803" class=" span3"><i class="icon-pinterest-circled"></i> <span class="i-name">icon-pinterest-circled</span><span class="i-code">0xe803</span></div>
                    <div title="Code: 0xe813" class=" span3"><i class="icon-pinterest-squared"></i> <span class="i-name">icon-pinterest-squared</span><span class="i-code">0xe813</span></div>
                </div>
                <div class="row">
                    <div title="Code: 0xe805" class=" span3"><i class="icon-gplus-squared"></i> <span class="i-name">icon-gplus-squared</span><span class="i-code">0xe805</span></div>
                    <div title="Code: 0xe804" class=" span3"><i class="icon-gplus"></i> <span class="i-name">icon-gplus</span><span class="i-code">0xe804</span></div>
                    <div title="Code: 0xe817" class=" span3"><i class="icon-flag-empty"></i> <span class="i-name">icon-flag-empty</span><span class="i-code">0xe817</span></div>
                    <div title="Code: 0xe80e" class=" span3"><i class="icon-flag-checkered"></i> <span class="i-name">icon-flag-checkered</span><span class="i-code">0xe80e</span></div>
                </div>
                <div class="row">
                    <div title="Code: 0xe809" class=" span3"><i class="icon-maxcdn"></i> <span class="i-name">icon-maxcdn</span><span class="i-code">0xe809</span></div>
                    <div title="Code: 0xe816" class=" span3"><i class="icon-html5"></i> <span class="i-name">icon-html5</span><span class="i-code">0xe816</span></div>
                    <div title="Code: 0xe808" class=" span3"><i class="icon-youtube-squared"></i> <span class="i-name">icon-youtube-squared</span><span class="i-code">0xe808</span></div>
                    <div title="Code: 0xe807" class=" span3"><i class="icon-youtube"></i> <span class="i-name">icon-youtube</span><span class="i-code">0xe807</span></div>
                </div>
                <div class="row">
                    <div title="Code: 0xe815" class=" span3"><i class="icon-xing-squared"></i> <span class="i-name">icon-xing-squared</span><span class="i-code">0xe815</span></div>
                    <div title="Code: 0xe812" class=" span3"><i class="icon-tumblr"></i> <span class="i-name">icon-tumblr</span><span class="i-code">0xe812</span></div>
                    <div title="Code: 0xe811" class=" span3"><i class="icon-tumblr-squared"></i> <span class="i-name">icon-tumblr-squared</span><span class="i-code">0xe811</span></div>
                    <div title="Code: 0xe806" class=" span3"><i class="icon-windows"></i> <span class="i-name">icon-windows</span><span class="i-code">0xe806</span></div>
                </div>
                <div class="row">
                    <div title="Code: 0xe801" class=" span3"><i class="icon-linux"></i> <span class="i-name">icon-linux</span><span class="i-code">0xe801</span></div>
                    <div title="Code: 0xe800" class=" span3"><i class="icon-dribbble"></i> <span class="i-name">icon-dribbble</span><span class="i-code">0xe800</span></div>
                    <div title="Code: 0xe814" class=" span3"><i class="icon-skype"></i> <span class="i-name">icon-skype</span><span class="i-code">0xe814</span></div>
                    <div title="Code: 0xe802" class=" span3"><i class="icon-renren"></i> <span class="i-name">icon-renren</span><span class="i-code">0xe802</span></div>
                </div>
                <div class="row">
                    <div title="Code: 0xe810" class=" span3"><i class="icon-twitter-squared"></i> <span class="i-name">icon-twitter-squared</span><span class="i-code">0xe810</span></div>
                    <div title="Code: 0xe80a" class=" span3"><i class="icon-facebook-squared"></i> <span class="i-name">icon-facebook-squared</span><span class="i-code">0xe80a</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="exit()">Cancel</button>
    <button class="btn" ng-click="next()">OK</button>
</div>
