@using Coevery.Metadata.HtmlControlProviders
@model Coevery.Metadata.ViewModels.FormDesignerViewModel
@{
    Script.Require("jQuery");
    Script.Require("jQueryUI");
    Script.Require("angular");
    Script.Require("angularResource");
    Script.Require("FormDesignerJsutils");
    Script.Require("FormDesignerLinq");
    Script.Require("FormDesignerContextMenu");
    Script.Require("FormDesignerMain");
    
    Style.Include("formdesigner/css/formdesigner.css");
}
<header id="main-header" class="page-header">
    <h1>Form Designer</h1>
</header>

<section id="main-content">
    <div class="row-fluid">
        <div id="form-designer" class="span8">
            <fd-form></fd-form>
        </div>
        <div class="span4">
            <section id="toolboxes" class="widget">
                <header class="widget-header">
                    <span class="title">Tools</span>
                </header>
                <section class="widget-content form-container">
                    <fd-save-layout-button></fd-save-layout-button>
                    <fieldset>
                        <legend>Layout</legend>
                        <fd-tools-section section-columns="1"></fd-tools-section>
                        <fd-tools-section section-columns="2"></fd-tools-section>
                    </fieldset>
                    <fieldset>
                         <legend>@Model.TypeDefinition.DisplayName</legend>
                        @{
                            foreach (var filed in Model.ContentPart.PartDefinition.Fields)
                            {
                                string controlDesc = Model.HtmlControlDescs[filed.Name];
                                Output.Write(controlDesc);
                            }
                          }
                    </fieldset>
                </section>
            </section>
        </div>
    </div>
</section>
