<div class="row-fluid">
    <section class="span12 widget">
        <header class="widget-header">
            <span class="title">Field Page</span>
        </header>
        <section class="widget-content form-container">
            <form name="myForm" class="form-horizontal" ng-submit="save()">
                <section class="control-group">
                    <label class="control-label" for="inputName">Name</label>
                    <div class="controls">
                        <input type="text" ng-disabled="NameDisabled" class="span12" ng-model="item.Name" name="Name" id="inputName" required>
                        <span class="text-error" ng-show="!myForm.Name.$valid">Required!</span>
                    </div>
                </section>
                 <section class="control-group">
                    <label class="control-label" for="selectFieldTypeName">FieldType</label>
                    <div class="controls">
                        <select  class="span12" ng-model="item.FieldTypeName" ng-disabled="FieldTypeNameDisabled" name="FieldTypeName" ng-options="c.Name for c in item.FieldTypes" id="selectFieldTypeName">
                        </select>
                    </div>
                </section>
                <section class="control-group">
                    <label class="control-label" for="inputDisplayName">DisplayName</label>
                    <div class="controls">
                        <input type="text"  class="span12" ng-model="item.DisplayName" name="DisplayName" id="inputDisplayName" required>
                        <span class="text-error" ng-show="!myForm.DisplayName.$valid">Required!</span>
                    </div>
                </section>
                
                <section class="form-actions">
                    <input type="submit" value="Save" class="btn btn-primary" ng-disabled="!myForm.$valid">
                    <input type="button" value="Exit" class="btn" ng-click="exit()"/>
                </section>
            </form>
        </section>
    </section>
</div>

