@{
    ViewBag.Title = T("Metadata");
    
    Style.Require("pnotify");
    Style.Require("ngGrid");
    Style.Require("TodoStyle");
    Script.Require("jQuery").UseCdn();
    Script.Require("pnotify");
    Script.Require("angular").UseCdn();
    Script.Require("MetadataLocalize");
    Script.Require("angularResource");
    Script.Require("ngGrid");

    Script.Require("MetadataApp");
    Script.Require("MetadataLogger");
    Script.Require("MetadataContext");
    Script.Require("FieldCtrl");
    Script.Require("FieldDetailCtrl");
    Script.Require("MetadataController");
    Script.Require("MetadataDetailController");
    Script.Require("MetadataModel");

}

<header id="main-header" class="page-header">
    <h1>@ViewBag.Title</h1>
</header>

<section ng-app="metadata" id="main-content" class="ng-cloak" ng-view>
</section>