
@model Coevery.Metadata.ViewModels.ListContentTypesViewModel
@{
    ViewBag.Title = T("Metadata");
    
    Style.Require("pnotify");
    Style.Require("ngGrid");
    Style.Require("TodoStyle");
    Script.Require("jQuery").UseCdn();
    Script.Require("pnotify");
    Script.Require("angular").UseCdn();
    Script.Require("localize");
    Script.Require("angularResource");
    Script.Require("ngGrid");

    Script.Require("MetadataApp");
    Script.Require("MetadataLogger");
    Script.Require("MetadataContext");
    Script.Require("MetadataController");
    Script.Require("MetadataDetailController");
    Script.Require("MetadataModel");

}

<header id="main-header" class="page-header">
    <h1>@ViewBag.Title</h1>
</header>

<section ng-app="Metadata" id="main-content" class="ng-cloak" ng-view>
</section>

@*@{
    Style.Require("ContentTypesAdmin");
    Layout.Title = T("Manage Content Types").ToString();
}

<div class="manage">
    @Html.ActionLink(T("Create new type").ToString(), "Create", new{ Controller="Home", Area="Coevery.Metadata"}, new { @class = "button primaryAction" })
</div>
@Html.UnorderedList(
    Model.Types,
    (t,i) => Html.DisplayFor(m => t),
    "contentItems"
    )*@

