@{ Layout.Title = T("Create Menu Item").ToString(); }
@{
    Script.Require("NavigationDetailCtrl");
}
@Display.FootScripts()
<header id="main-header" class="page-header">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>Navigation
            <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="#">List</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="#">Detail</a>
            <span class="divider">&raquo;</span>
        </li>
    </ul>
    <h1>navigation Detail <span>create navigation</span></h1>
</header>
<section id="main-content" ng-controller="NavigationDetailCtrl">
    <div class="row-fluid">
        <section class="span12 widget">
            <header class="widget-header">
                <span class="title"></span>
            </header>
            <section class="widget-content form-container">
                 @using (Html.BeginFormAntiForgeryPost(Html.ViewContext.HttpContext.Request.Url.PathAndQuery, FormMethod.Post,
                    new { @class = "form-horizontal", @name = "myForm", @ng_submit = "save()" }))
                {
                    @Html.ValidationSummary()
                    // Model is a Shape, calling Display() so that it is rendered using the most specific template for its Shape type
                    @Display(Model)
                }
            </section>
        </section>
    </div>
</section>
