#navigation header {
    display: none;
}

.navbar-inner {
    min-height: 69px;
}

.icon-form:before {
    content: "\f03a";
}

.icon-statistics:before {
    content: "\e0a2";
}

.icol-static-tables {
    background-position: -160px -208px;
}

.icol-responsive-tables {
    background-position: -448px -96px;
}

.icol-creative-version {
    background-position: -496px -160px;
}

.icol-form-layouts {
    background-position: -384px -112px;
}

.icol-form-elements {
    background-position: -48px -240px;
}

#navigation .widget:after,
#navigation .widget:before {
    content: none;
}

#page-title h1 {
    float: left;
    font-size: 24px;
    color: #444;
    margin: 0;
    padding: 10px 0;
    -webkit-text-shadow: -1px -1px #f0f0f0;
    text-shadow: -1px -1px #f0f0f0;
}

    #page-title h1 > span {
        color: #777;
        font-size: 11px;
        font-weight: normal;
        padding-left: 6px;
        margin-left: 6px;
        border-left: 1px dotted #aaa;
        line-height: 1;
        -webkit-text-shadow: none;
        text-shadow: none;
    }
/* ------------------------------------------------------------------------ */
/* SystemAdmin Buttons  */
/* ------------------------------------------------------------------------ */
#page-actions h1 span {
    border-left: 1px dotted #AAAAAA;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

#page-actions h1 span {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#page-actions h1 {
    font-size: 24px;
    margin: 3px 0;
}

#page-title .btn-toolbar {
    margin: 17px 0;
}

#page-title .btn-fixed {
    position: fixed;
    top: 65px;
    z-index: 999;
}

#page-title .btn-toolbar {
    margin: 17px 0;
}

/*#wrapper .sidebar-minimized #main #page-actions {
    left: 70px;
}*/
/* ------------------------------------------------------------------------ */
/* End SystemAdmin Buttons  */
/* ------------------------------------------------------------------------ */

.form-fontstyle fieldset legend {
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    font-size: 14px;
    border-bottom: 1px solid #ebaf59;
}

/* ------------------------------------------------------------------------ */
/* Form Style  */
/* ------------------------------------------------------------------------ */

form .control-group.success .control-label {
    color: rgb(68, 68, 68);
}

form .control-group .control-label.required:before {
    content: "*";
    color: red;
    margin-right: 5px;
    vertical-align: text-top;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

form .control-group .toValidate input.success,
form .control-group input.labelForName.success {
    border-color: rgb(204, 204, 204);
}
