/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * MoonCake v1.3.1 - Layout Stylesheet
 *
 * This file is part of MoonCake, an Admin template build for sale at ThemeForest.
 * For questions, suggestions or support request, please mail me at maimairel@yahoo.com
 *
 * Development Started: 
 * July 28, 2012
 * Last Update:
 * August 07, 2013
 *
 */

/* z-index stacking order

Header: 1000;
Sidebar Separator: 700;
Sidebar: 600;

screen < 767px
	Navbar-search: 1100;
	Navbar-toggle: 1200;
 
/* Body
================================================== */

body {
    color: #444;
    padding: 0;
}

.dateForShort
{
    width:100%;
    margin-left:0px;
    margin-right:0px;
}

.date, .time {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.input-prepend
{
    padding-right:41px;
}

@media (max-width: 767px)
{
    .input-prepend input
    {
        width:100%;
        margin-left:0px;
        margin-right:0px;
    }
}


#wrapper {
    max-width: 1536px;
    min-width: 320px;
    margin: 0 auto;
}

    #wrapper.no-header #header {
        display: none;
    }

    #wrapper.no-header #content-wrap {
        padding: 0;
        margin-top: 0;
    }

    #wrapper.no-sidebar #sidebar,
    #wrapper.no-sidebar #sidebar-separator {
        display: none;
    }

    #wrapper.no-sidebar #main {
        margin-left: 0 !important;
    }

    #wrapper.no-sidebar #content-inner {
        background: none !important;
    }

/* Header
================================================== */

#header {
    position: fixed;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

    #header .navbar-inner {
        background: #262626 repeat-x left bottom;
        background-image: -ms-linear-gradient(top, #333333, #262626);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#262626));
        background-image: -webkit-linear-gradient(top, #333333, #262626);
        background-image: -o-linear-gradient(top, #333333, #262626);
        background-image: -moz-linear-gradient(top, #333333, #262626);
        background-image: linear-gradient(top, #333333, #262626);
        border: 1px solid #000;
        filter: none;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

        #header .navbar-inner,
        #header .navbar-inner .container,
        #header #header-right {
            max-height: 67px;
        }

            #header .navbar-inner .container {
                max-width: 1536px;
                width: auto;
            }

    #header #header-right {
        margin-left: 214px;
        padding-left: 0px;
    }

        #header #header-right #nav-toggle {
            display: none;
            float: left;
            width: 26px;
            height: 26px;
            font-size: 16px;
            text-align: center;
            line-height: 26px;
            position: relative;
            margin-top: 18px;
            cursor: pointer;
        }

    /* Header Brand
================================================== */

    #header .navbar-inner .brand-img {
        height: 67px;
        display: table-cell;
        vertical-align: middle;
    }

    #header .navbar-inner .brand {
        padding-bottom: 0;
        padding-top: 0;
        float: none;
        margin-left:-15px;
    }

        #header .navbar-inner .brand img {
            max-height: 100%;
        }

    /* Header Buttons
================================================== */

    #header #dropdown-lists .item,
    #header #header-search #search-toggle,
    #header #header-right #nav-toggle,
    #header #header-functions #logout-ribbon {
        color: #fff;
        margin-right: 10px;
        background: #262626 repeat-x left bottom;
        background-image: -ms-linear-gradient(top, #333333, #262626);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#262626));
        background-image: -webkit-linear-gradient(top, #333333, #262626);
        background-image: -o-linear-gradient(top, #333333, #262626);
        background-image: -moz-linear-gradient(top, #333333, #262626);
        background-image: linear-gradient(top, #333333, #262626);
        border: 1px solid #000;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.1);
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.1);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

        #header #dropdown-lists .item:active,
        #header #header-search.open #search-toggle,
        #header #header-right #nav-toggle:not(.collapsed),
        #header #header-functions #logout-ribbon:active {
            background: #222;
            -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.25);
        }

    /* Header Dropdown Items
================================================== */

    #header #dropdown-lists {
        float: left;
        margin-top: 18px;
    }

        #header #dropdown-lists .item-wrap {
            float: left;
            position: relative;
        }

            #header #dropdown-lists .item-wrap .dropdown-menu {
                margin-top: 14px;
                width: 220px;
                -webkit-border-top-left-radius: 0;
                -moz-border-radius-topleft: 0;
                border-top-left-radius: 0;
                text-align: center;
            }

                #header #dropdown-lists .item-wrap .dropdown-menu .dropdown-item-wrap {
                    margin-bottom: 8px;
                }

                    #header #dropdown-lists .item-wrap .dropdown-menu .dropdown-item-wrap ul,
                    #header #dropdown-lists .item-wrap .dropdown-menu .dropdown-item-wrap ul li {
                        list-style: none;
                        text-align: left;
                        padding: 0;
                        margin: 0;
                    }

                        #header #dropdown-lists .item-wrap .dropdown-menu .dropdown-item-wrap ul li a {
                            white-space: normal;
                            font-size: 11px;
                            padding: 10px;
                            line-height: 16px;
                            border-bottom: 1px solid #e5e5e5;
                            *zoom: 1;
                        }

                            #header #dropdown-lists .item-wrap .dropdown-menu .dropdown-item-wrap ul li a:before,
                            #header #dropdown-lists .item-wrap .dropdown-menu .dropdown-item-wrap ul li a:after {
                                display: table;
                                content: "";
                                line-height: 0;
                            }

                            #header #dropdown-lists .item-wrap .dropdown-menu .dropdown-item-wrap ul li a:after {
                                clear: both;
                            }

                            #header #dropdown-lists .item-wrap .dropdown-menu .dropdown-item-wrap ul li a .details {
                                display: block;
                                margin-left: 58px;
                            }

                            #header #dropdown-lists .item-wrap .dropdown-menu .dropdown-item-wrap ul li a .thumbnail {
                                float: left;
                                background-color: #fff;
                                padding: 2px;
                                width: 44px;
                            }

                            #header #dropdown-lists .item-wrap .dropdown-menu .dropdown-item-wrap ul li a .time {
                                display: block;
                                color: #999;
                            }

        #header #dropdown-lists .item {
            cursor: pointer;
            text-decoration: none;
            display: block;
            outline: none;
            padding: 3px 6px;
            font-size: 11px;
        }

        #header #dropdown-lists .open .item {
            background-image: none;
            background-color: #fff;
            color: #333;
            padding-bottom: 15px;
            margin-bottom: -15px;
            border-bottom: 0;
            z-index: 1001;
            position: relative;
            -webkit-border-bottom-left-radius: 0;
            -moz-border-radius-bottomleft: 0;
            border-bottom-left-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;
        }

        #header #dropdown-lists .item .item-icon,
        #header #dropdown-lists .item .item-label,
        #header #dropdown-lists .item .item-count {
            display: inline-block;
            *display: inline;
            /* IE7 inline-block hack */
            *zoom: 1;
        }

            #header #dropdown-lists .item .item-icon [class^="icon-"],
            #header #dropdown-lists .item .item-icon [class^="icos-"],
            #header #dropdown-lists .item .item-icon [class^="icol-"] {
                font-size: 16px;
                margin-right: 2px;
            }

        #header #dropdown-lists .item-count {
            padding: 1px 6px;
            color: #fff;
            line-height: 16px;
            text-align: center;
            margin-left: 3px;
            font-size: 11px;
            border: 1px solid #390000;
            background: #c41902 repeat-x left bottom;
            background-image: -ms-linear-gradient(top, #fd785a, #c41902);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fd785a), to(#c41902));
            background-image: -webkit-linear-gradient(top, #fd785a, #c41902);
            background-image: -o-linear-gradient(top, #fd785a, #c41902);
            background-image: -moz-linear-gradient(top, #fd785a, #c41902);
            background-image: linear-gradient(top, #fd785a, #c41902);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
        }

    /* Header Search
================================================== */

    #header #header-search {
        position: relative;
        display: block;
        float: left;
    }

        #header #header-search #search-toggle {
            display: none;
            float: left;
            width: 26px;
            height: 26px;
            font-size: 16px;
            text-align: center;
            line-height: 26px;
            position: relative;
            margin-top: 18px;
            cursor: pointer;
        }

        #header #header-search .navbar-search {
            margin-top: 18px;
            margin-right: 10px;
        }

            #header #header-search .navbar-search .search-query {
                line-height: 18px;
                width: 175px;
            }

    /* Header User Menus
================================================== */

    #header #header-functions {
        float: right;
    }

        #header #header-functions #user-info {
            margin-top: 12px;
            margin-right: 5px;
            float: left;
            position: relative;
        }

            #header #header-functions #user-info .avatar,
            #header #header-functions #user-info .info {
                vertical-align: middle;
                display: inline-block;
                /* IE7 inline-block hack */
                *display: inline;
                *zoom: 1;
            }

            #header #header-functions #user-info .avatar {
                width: 40px;
                height: 40px;
                margin-left: 8px;
            }

                #header #header-functions #user-info .avatar a {
                    display: block;
                }

                #header #header-functions #user-info .avatar img {
                    max-height: 40px;
                    max-width: 40px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                }

            #header #header-functions #user-info .info {
                color: #fff;
                font-size: 11px;
                line-height: 1;
                text-align: right;
                height: 100%;
                white-space: nowrap;
                text-shadow: 1px -1px 1px #000;
            }

                #header #header-functions #user-info .info .name {
                    font-size: 13px;
                    display: block;
                    padding-top: 4px;
                    color: #ff6021;
                }

        /* Header Logout Ribbon
================================================== */

        #header #header-functions #logout-ribbon {
            float: left;
            position: relative;
            margin: 12px 0 0 8px;
            cursor: pointer;
        }

            #header #header-functions #logout-ribbon a {
                color: #fff;
                width: 38px;
                height: 38px;
                font-size: 21px;
                text-align: center;
                line-height: 38px;
                display: block;
            }

/* Content Wrapper
================================================== */
#wrapper #content,
#wrapper #content-outer,
#wrapper #content-inner {
    border-top: 0 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#wrapper #content-wrap #content {
    position: relative;
}

#wrapper #content-outer {
    position: relative;
    background: #fff;
}

/* Sidebar
================================================== */

/* Sidebar Toggle
================================================== */

/* Navigation
================================================== */
#wrapper #sidebar #navigation ul li:hover > a,
#wrapper #sidebar #navigation ul li:hover > span {
    color: #999;
    text-decoration: none;
}

/* Main Header
================================================== */

#wrapper #main #main-header,
#wrapper #main #main-header h1,
#wrapper #main #main-header .breadcrumb {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAQAAACx6dw/AAAADUlEQVR42mNgCGEAAgABqwBVkJsbfgAAAABJRU5ErkJggg==') repeat-x left bottom;
}

#wrapper #main #main-header {
    padding-bottom: 4px;
    border-bottom: 0;
    margin: 0 40px 10px 40px;
}

    #wrapper #main #main-header h1 {
        font-size: 24px;
        color: #444;
        margin: 0;
        padding: 20px 0;
        text-shadow: -1px -1px #f0f0f0;
    }

        #wrapper #main #main-header h1 span {
            color: #777;
            font-size: 11px;
            font-weight: normal;
            padding-left: 6px;
            margin-left: 6px;
            text-shadow: none;
            border-left: 1px dotted #aaa;
            line-height: 1;
        }

    #wrapper #main #main-header .breadcrumb {
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 0;
        margin: 0;
        padding: 8px 0;
        font-size: 11px;
        line-height: 16px;
    }

        #wrapper #main #main-header .breadcrumb [class^="icon-"],
        #wrapper #main #main-header .breadcrumb [class^="icol-"],
        #wrapper #main #main-header .breadcrumb [class^="icos-"] {
            color: #444;
            font-size: 16px;
            margin-right: 5px;
            vertical-align: text-top;
        }

#wrapper #main #page-title .btn {
    min-width: 70px;
}

#wrapper #main #page-title > .btn:first-child,
#wrapper #main #page-title > .btn-group:first-child {
    margin-left: 0px;
}
/* Main Content
================================================== */

#wrapper #main #main-content {
    float: left;
    width: 100%;
    padding: 0 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Full Layout
================================================== */

#wrapper.full {
    max-width: none;
    margin: auto;
    padding: 0;
}

    #wrapper.full #header .navbar-inner .container {
        max-width: none;
    }

    #wrapper.full #header .navbar-inner,
    #wrapper.full #content,
    #wrapper.full #content-wrap,
    #wrapper.full #content-outer,
    #wrapper.full #content-inner {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

        #wrapper.full #content-wrap #content,
        #wrapper.full #content-outer,
        #wrapper.full #content-inner {
            padding: 0;
            margin: 0;
            border: none;
        }

    #wrapper.full #content-wrap {
        padding: 69px 0 0;
        border: 0;
    }

/* Footer
================================================== */
footer {
    padding: 0 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(images/white_tiles.png);
    min-height: 40px;
    z-index: 700;
    font-size: 11px;
    color: #444;
    border-top: 1px solid #d4d4d4;
    -webkit-box-shadow: 0 -1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 -1px 10px rgba(0,0,0,.1);
    box-shadow: 0 -1px 10px rgba(0,0,0,.1);
}

    footer p {
        margin-top: 10px;
        margin-bottom: 0;
    }

/* Media Queries
================================================== */