/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * MoonCake v1.3.1 - Layout Stylesheet
 *
 * This file is part of MoonCake, an Admin template build for sale at ThemeForest.
 * For questions, suggestions or support request, please mail me at maimairel@yahoo.com
 *
 * Development Started: 
 * July 28, 2012
 * Last Update:
 * August 07, 2013
 *
 */

/* z-index stacking order

Header: 1000;
Sidebar Separator: 700;
Sidebar: 600;

screen < 767px
	Navbar-search: 1100;
	Navbar-toggle: 1200;
 
/* Body
================================================== */

/* Header
================================================== */

/* Header Brand
================================================== */

/* Header Buttons
================================================== */

/* Header Dropdown Items
================================================== */

/* Header Search
================================================== */

/* Header User Menus
================================================== */

/* page-header
================================================== */
#page-header {
    margin-top: 69px;
    z-index: 999;
}

    #page-header .container {
        margin-left: 10px;
    }

.vertical-middle {
    vertical-align: middle;
}


/* Content Wrapper
================================================== */

#wrapper #content-wrap {
    padding: 69px 0 41px 0;
}

#wrapper #content-inner {
    position: relative;
}

/* Sidebar
================================================== */

#wrapper #sidebar {
    float: left;
    width: 150px;
    padding-right: 1px;
    z-index: 600;
    position: relative;
    background: #F0F0F0 url('images/layout/aside-right-shadow.jpg') right top repeat-y;
    border-right: #c6c8cc 1px solid;
}

    #wrapper #sidebar.affix {
        position: fixed;
        float: none;
        top: 69px;
        bottom: 0;
    }

    /* Sidebar Toggle
================================================== */

    #wrapper #sidebar #navigation ul > #sidebar-toggle-wrap {
        padding: 3px;
        display: inline-block;
        float: left;
        max-width: none;
        font-size: 0;
        cursor: default;
        line-height: 1;
        *display: inline;
        /* IE7 inline-block hack */
        *zoom: 1;
        margin-top: 9px;
        border: 1px solid #ddd;
        border-left: 0;
        background-color: #f8f8f8;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-border-radius: 0 27px 27px 0;
        -moz-border-radius: 0 27px 27px 0;
        border-radius: 0 27px 27px 0;
        -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
    }

        #wrapper #sidebar #navigation ul > #sidebar-toggle-wrap #sidebar-toggle.disabled span {
            cursor: default;
            opacity: 0.5;
            -moz-opacity: 0.5;
            filter: alpha(opacity=50);
        }

        #wrapper #sidebar #navigation ul > #sidebar-toggle-wrap #sidebar-toggle {
            display: inline-block;
            *display: inline;
            /* IE7 inline-block hack */
            *zoom: 1;
            margin: auto;
            width: 27px;
            height: 27px;
            padding: 2px;
            background-color: #f4f4f4;
            border: 1px solid;
            border-color: #e0e0e0 #ddd #d0d0d0 #ddd;
            -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.05);
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
        }

            #wrapper #sidebar #navigation ul > #sidebar-toggle-wrap #sidebar-toggle span {
                display: block;
                width: 25px;
                height: 25px;
                cursor: pointer;
                position: relative;
                background-color: #fff;
                border: 1px solid;
                border-color: #ddd #d0d0d0 #ccc #d0d0d0;
                -webkit-box-shadow: inset 0 -2px 8px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: inset 0 -2px 8px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 -2px 8px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
            }

            #wrapper #sidebar #navigation ul > #sidebar-toggle-wrap #sidebar-toggle:active:not(.disabled) span {
                -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
                box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
            }

            #wrapper #sidebar #navigation ul > #sidebar-toggle-wrap #sidebar-toggle span:after {
                font-family: 'IcoMoon';
                content: "\f0d9";
                color: #555;
                font-size: 14px;
                line-height: 16px;
                width: 16px;
                height: 16px;
                position: absolute;
                text-align: center;
                top: 50%;
                margin-top: -8px;
                left: 50%;
                margin-left: -8px;
            }

            #wrapper #sidebar #navigation ul > #sidebar-toggle-wrap #sidebar-toggle.toggled span:after {
                content: "\f0da";
                margin-left: -7px;
            }

/* Navigation
================================================== */
ul.menu-level-0 > li {
    border-bottom: 1px solid #C8C8C8;
}

#wrapper #sidebar #navigation ul.menu-level-1 > li > span > a {
    padding-left: 5px;
}

#wrapper #sidebar #navigation ul.menu-level-2 > li > span > a {
    padding-left: 40px;
}

#wrapper #sidebar #navigation ul.menu-level-3 > li > span > a {
    padding-left: 65px;
}

#wrapper #sidebar #navigation ul.menu-level-4 > li > span > a {
    padding-left: 80px;
}

#navigation .icos-eject {
    float: right;
    margin-top: 8px;
}

    #navigation .icos-eject.collapsed {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        transform: rotate(180deg);
    }

#navigation .icos-play {
    float: right;
    margin-right: 6px;
    margin-top: 3px;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform: rotate(270deg);
}

    #navigation .icos-play.collapsed {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
        transform: rotate(90deg);
    }

#wrapper #sidebar #navigation {
    position: absolute;
    overflow: hidden;
    top: 47px;
    bottom: 40px;
    right: 0;
    left: 0;
}

    #wrapper #sidebar #navigation.no-perspective {
        top: 0;
    }

#wrapper #sidebar #nav-selector.no-perspective {
    display: none;
}

#wrapper #sidebar #navigation ul {
    margin: 0;
    position: relative;
}

    #wrapper #sidebar #navigation ul > li {
        list-style: none;
        margin: 0;
        display: block;
    }

        #wrapper #sidebar #navigation ul > li > a,
        #wrapper #sidebar #navigation ul > li > span {
            margin: 0;
            line-height: 1;
            padding: 9px 4px 9px 32px;
            color: #333;
            display: block;
            border: 1px solid transparent;
            font-size: 22px;
        }

            #wrapper #sidebar #navigation ul > li > span > a,
            #wrapper #sidebar #navigation ul > li > span > a:hover,
            #wrapper #sidebar #navigation ul > li > span > a:active,
            #wrapper #sidebar #navigation ul > li > span > a:visited {
                cursor: pointer;
                line-height: 1;
                color: #333;
                font-size: 22px;
                text-decoration: none;
            }

            #wrapper #sidebar #navigation ul > li > span > i {
                cursor: pointer;
                line-height: 1;
            }

        #wrapper #sidebar #navigation ul > li > ul > li > span > a > i {
            margin-left: -32px;
        }

#wrapper #sidebar #navigation > ul > li .nav-title {
    font-size: 11px;
    line-height: 1;
}

#wrapper #sidebar #navigation > ul > li > a,
#wrapper #sidebar #navigation > ul > li > span {
    font-size: 32px;
    padding: 6px 5px 11px 5px;
}

#wrapper #sidebar #navigation ul > li.active > a,
#wrapper #sidebar #navigation ul > li.active > span {
    color: #ffffff;
    border: 1px solid #3f9dce;
    background: #2ca3de repeat-x left bottom;
    background-image: -ms-linear-gradient(top, #70ccfa, #2ca3de);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70ccfa), to(#2ca3de));
    background-image: -webkit-linear-gradient(top, #70ccfa, #2ca3de);
    background-image: -o-linear-gradient(top, #70ccfa, #2ca3de);
    background-image: -moz-linear-gradient(top, #70ccfa, #2ca3de);
    background-image: linear-gradient(top, #70ccfa, #2ca3de);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.33);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.33);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.33);
}

#wrapper #sidebar #navigation ul > li:first-child > a,
#wrapper #sidebar #navigation ul > li:first-child > span {
    border-top: 0;
}

#wrapper #sidebar #nav-selector {
    padding: 13px 20px;
    border-bottom: 1px solid rgb(200, 200, 200);
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

    #wrapper #sidebar #nav-selector > .dropdown > a {
        display: block;
        font-size: 20px;
        font-weight: 200;
        color: #777;
        /*-webkit-text-shadow: 0 1px 0 #fff;
        text-shadow: 0 1px 0 #fff;*/
        text-decoration: none;
    }

        #wrapper #sidebar #nav-selector > .dropdown > a > span {
            white-space: nowrap;
            overflow: hidden;
            max-width: 100px;
            display: inline-block;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

/* Main
================================================== */

#wrapper #main {
    margin-left: 152px;
    margin-bottom: 0;
    padding-bottom: 40px;
}

    /* Main Header
================================================== */
    #wrapper #main #page-title {
        position: fixed;
        width: 100%;
        padding: 0 40px;
        background-color: #f7f7f7;
        -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
        box-shadow: 0 1px 10px rgba(0,0,0,0.1);
        border-bottom: 1px solid #d4d4d4;
        font-size: 0;
        z-index: 10;
    }

        #wrapper #main #page-title > .btn,
        #wrapper #main #page-title > .btn-group {
            margin: 10px 0 10px 10px;
        }

    /* Main Content
================================================== */

    #wrapper #main #main-content {
        margin-top: 47px;
    }

/* Full Layout
================================================== */

/* Footer
================================================== */

/* Media Queries
================================================== */

@media (min-width: 1281px) {
    #header #header-right {
        margin-left: 274px;
    }

        #header #header-right .navbar-search .search-query {
            width: 210px;
        }

    #wrapper {
        margin: 0 auto;
        padding: 0;
    }

        #wrapper #sidebar {
            width: 210px;
            padding-right: 1px;
        }

        #wrapper #main {
            margin-left: 212px;
        }

        #wrapper #sidebar #navigation ul > #sidebar-toggle-wrap {
            padding: 5px;
            padding-left: 6px;
        }

        #wrapper #content-inner {
            border-top: 0;
        }

        #wrapper #sidebar #nav-selector > .dropdown > a > span {
            max-width: 160px;
        }
}

@media (max-width: 979px) {
    #wrapper {
        margin: 0;
        padding: 0;
    }

    #header #header-right {
        float: right;
        margin-left: 0;
    }

    #header #header-functions {
        float: left;
    }

    #header .navbar-inner {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    #header #header-functions #user-info .info,
    #header #dropdown-lists .item .item-label {
        display: none;
    }

    #wrapper #main {
        margin-left: 46px;
    }

    #wrapper #content-wrap {
        border: 0;
    }

    #wrapper #content,
    #wrapper #content-wrap,
    #wrapper #content-outer,
    #wrapper #content-inner {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

        #wrapper #content #sidebar {
            width: 45px;
            padding-right: 0;
            overflow: visible;
        }

            #wrapper #content #sidebar #nav-selector > .dropdown > a > span {
                display: none;
            }

    #wrapper #sidebar #navigation ul {
        min-height: 0 !important;
    }

        /*#wrapper #sidebar #navigation ul > li > span,
        #wrapper #sidebar #navigation ul > li > a,
        #wrapper #sidebar #navigation ul > li.active > span,
        #wrapper #sidebar #navigation ul > li.active > a
        {
            border: none;
            background: none;
            color: #bfbfbf;
        }*/

        #wrapper #sidebar #navigation ul > li:hover > span,
        #wrapper #sidebar #navigation ul > li:hover > a {
            color: #999;
        }

    #wrapper #sidebar #navigation > ul > li .nav-title {
        display: none;
    }

    #wrapper #main #page-title,
    #wrapper #main #main-header .breadcrumb,
    #wrapper #main #main-header h1,
    #wrapper #main #main-content {
        padding-left: 20px;
        padding-right: 20px;
    }

        #wrapper #main #main-header h1 span {
            display: block;
            padding: 0;
            border: 0;
            line-height: 1.5;
            margin: 0;
        }

    #wrapper #sidebar-separator,
    #wrapper #sidebar #navigation ul > #sidebar-toggle-wrap {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 979px) {
    #wrapper #content #sidebar #nav-selector {
        padding: 13px 10px;
    }

        #wrapper #content #sidebar #nav-selector > .dropdown > a {
            padding: 0 5px;
        }
}

@media (max-width: 767px) {
    #header .navbar-inner {
        padding: 0 10px;
    }

    #header #header-search .navbar-search {
        display: none;
        position: relative;
        z-index: 1100;
        background-color: #222;
    }

    #header #header-search #search-toggle,
    #header #header-search.open .navbar-search {
        display: block;
    }

    #header #header-search.open #search-toggle {
        padding-bottom: 10px;
        margin-bottom: -10px;
        border-bottom: 0;
        z-index: 1200;
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }

    #header #header-search.open .navbar-search {
        position: absolute;
        top: 100%;
        left: 0;
        margin: 9px 0 0 0;
        padding: 10px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 0 5px 5px 5px;
        -moz-border-radius: 0 5px 5px 5px;
        border-radius: 0 5px 5px 5px;
        border: 1px solid #151515;
    }

    footer .pull-left,
    footer .pull-right {
        float: none;
        display: block;
        text-align: center;
        margin: 0;
        white-space: nowrap;
    }
}

@media (max-width: 510px) {
    #header #header-functions #logout-ribbon {
        display: none;
    }
}

@media (min-width: 481px) {
    #wrapper #sidebar #navigation {
        height: auto !important;
    }
}

@media (max-width: 480px) {
    #header {
        position: static;
        left: auto;
        right: auto;
        top: auto;
    }

    #main-content #page-actions .btn-fixed {
        position: relative;
        top: auto;
        z-index: auto;
        left: auto !important;
    }

    #header #header-right {
        float: none;
    }

    #header #header-functions {
        float: right;
    }

        #header #header-functions #logout-ribbon {
            display: none;
        }

    #header .brand-wrap {
        display: block;
        width: 100%;
        text-align: center;
    }

        #header .brand-wrap .brand-img {
            width: 100%;
            height: 51px;
            display: block;
        }

            #header .brand-wrap .brand-img .brand {
                padding-top: 15px;
                position: relative;
            }

                #header .brand-wrap .brand-img .brand img {
                    max-height: 37px;
                }

    #header .navbar-inner,
    #header .navbar-inner .container {
        max-height: none;
        background-color: transparent;
    }

    #header .navbar-inner {
        border-bottom: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #header #header-right {
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 12px;
        display: block;
        clear: both;
    }

        #header #header-right #nav-toggle {
            display: block;
        }

    #wrapper #content-wrap {
        margin-top: -69px;
    }

    #wrapper #content #main {
        margin-left: 0;
        clear: both;
    }

    #wrapper #content #sidebar {
        max-width: none;
        width: 100%;
        float: none;
        display: block;
        border-top: 1px solid #111;
        padding-bottom: 8px;
        position: relative;
        background-image: none;
        background-color: #222;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.25);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.25);
    }

    #wrapper #sidebar {
        padding-right: 0;
    }

        #wrapper #sidebar.affix {
            top: 0;
        }

    #wrapper #sidebar {
        border-right: none;
    }

    #wrapper #content #sidebar #nav-selector {
        border-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

        #wrapper #content #sidebar #nav-selector > .dropdown > a > span {
            color: white;
            display: inline;
        }

        #wrapper #content #sidebar #nav-selector > .dropdown > a > .caret {
            border-top: 4px solid white;
        }

    #wrapper #sidebar #navigation {
        height: 0;
        overflow: hidden;
        width: 100%;
        position: static;
        right: auto;
        top: auto;
        bottom: auto;
        left: auto;
    }

        #wrapper #sidebar #navigation ul {
            border-bottom: 1px solid #333;
        }

            #wrapper #sidebar #navigation ul > li {
                width: auto;
                max-width: none;
                border-top: 1px solid #333;
                border-bottom: 1px solid #111;
                background-color: #222;
            }

                #wrapper #sidebar #navigation ul > li > span,
                #wrapper #sidebar #navigation ul > li > a {
                    text-align: left;
                    padding: 12px 15px;
                    border: none;
                    color: #bfbfbf;
                    font-size: 12px;
                }

                    #wrapper #sidebar #navigation ul > li > span [class^="icon-"],
                    #wrapper #sidebar #navigation ul > li > a [class^="icon-"] {
                        font-size: 16px;
                        vertical-align: text-top;
                        margin-right: 6px;
                    }

                /*#wrapper #sidebar #navigation ul > li.active > span,
                    #wrapper #sidebar #navigation ul > li.active > a
                    {
                        background: none;
                        color: #bfbfbf;
                        border: none;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                    }*/

                #wrapper #sidebar #navigation ul > li .nav-title {
                    display: inline;
                }

                #wrapper #sidebar #navigation ul > li.open > .inner-nav,
                #wrapper #sidebar #navigation ul > li:hover > .inner-nav {
                    opacity: 1;
                    -moz-opacity: 1;
                    position: relative;
                    left: auto;
                    margin: 0;
                    padding-left: 0;
                    border-top: 1px solid #222;
                }

                #wrapper #sidebar #navigation ul > li:hover > a,
                #wrapper #sidebar #navigation ul > li:hover > span,
                #wrapper #sidebar #navigation ul > li.open > a,
                #wrapper #sidebar #navigation ul > li.open > span,
                #wrapper #sidebar #navigation ul > li.open .nav-title {
                    color: #fff;
                }

                #wrapper #sidebar #navigation ul > li.open > .inner-nav {
                    display: block;
                    border-bottom: 0;
                    border-top: 1px solid #111;
                }

                #wrapper #sidebar #navigation ul > li > .inner-nav > li.active > a,
                #wrapper #sidebar #navigation ul > li > .inner-nav > li.active > span {
                    color: #ddd;
                    background-color: transparent;
                }

                #wrapper #sidebar #navigation ul > li > .inner-nav > li {
                    background-color: rgba(255, 255, 255, 0.05);
                }

                #wrapper #sidebar #navigation ul > li > .inner-nav li:hover > a,
                #wrapper #sidebar #navigation ul > li > .inner-nav li:hover > span {
                    background-color: rgba(148, 219, 255, 0.2);
                }

                #wrapper #sidebar #navigation ul > li > .inner-nav > li > a,
                #wrapper #sidebar #navigation ul > li > .inner-nav > li > span,
                #wrapper #sidebar #navigation ul > li:hover > .inner-nav > li > a,
                #wrapper #sidebar #navigation ul > li:hover > .inner-nav > li > span {
                    border: none;
                    color: #ddd;
                }

    #wrapper #content #content-inner {
        background: none;
    }

    #wrapper #main #main-header {
        margin: 0 0 30px 0;
    }

        #wrapper #main #page-title,
        #wrapper #main #main-header .breadcrumb,
        #wrapper #main #main-header h1,
        #wrapper #main #main-content {
            padding-left: 15px;
            padding-right: 15px;
        }

    #wrapper #main #page-title {
        position: static;
        width: auto;
    }

    #wrapper #main #main-content {
        margin-top: 0;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1281px), only screen and (-moz-min-device-pixel-ratio: 1.5) and (min-width: 1281px), only screen and (-o-min-device-pixel-ratio: 3/2) and (min-width: 1281px), only screen and (min-device-pixel-ratio: 1.5) and (min-width: 1281px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 979px), only screen and (-moz-min-device-pixel-ratio: 1.5) and (max-width: 979px), only screen and (-o-min-device-pixel-ratio: 3/2) and (max-width: 979px), only screen and (min-device-pixel-ratio: 1.5) and (max-width: 979px) {
}
