<header id="page-title">
    <h1 class="pull-left">@T("Entities") <span>List of Entities</span></h1>
</header>

<section id="main-content">
    <div id="page-actions" class="clearfix">
        <div btn-actions>
            <button class="btn btn-small btn-success" data-ng-click="add()">
                <i class="icon-plus"></i>&nbsp;Add
            </button>
            <button class="btn btn-small" data-ng-click="getAllMetadata()">
                <i class="icon-refresh"></i>&nbsp;Refresh
            </button>
            <div class="btn-group" ng-show="selectedItems.length > 0">
                <button class="btn btn-small" data-ng-click="edit(selectedItems[0])" ng-disabled="selectedItems.length > 1">
                    <i class="icon-edit"></i>&nbsp;Edit
                </button>
                <button class="btn btn-small" data-ng-click="publish()" ng-disabled="selectedItems.length > 1">
                    Publish
                </button>
                <button class="btn btn-small" co-delete-button confirm-message="@T("You really want to delete this entity?")" delete-action="delete()">
                    <i class="icon-remove"></i>&nbsp;Delete
                </button>
            </div>
        </div>
    </div>
    <div class="row-fluid" data-ag-grid="gridOptions" data-ag-grid-name="gridList">
    </div>

</section>

<script type="text/javascript">
    //Modify page-action width when resize
    $(function () {
        $("#main-content").css("margin-top", $("#page-title").outerHeight(true));
        $("#page-title h1 span").attr("title", $("#page-title h1 span").html());
    });
</script>
