<div class="row-fluid">
    <section class="span12 widget">
        <header class="widget-header">
            <span class="title">&nbsp;</span>
        </header>
        <section class="widget-content form-container">
            <form class="form-horizontal">
                @if (Model.Rows!=null) {
                    foreach (var row in Model.Rows) {
                        @Display(row)
                    }
                }
            </form>
        </section>
    </section>
</div>