<label class="form-label span3">Title</label>
<div class="controls-row span9">
    @switch ((string)Model.Type)
    {
        case "text":
        <text>
        <input type="text" class="span12">
        </text>
            break;
        case "radio":
        <text>
        <label class="radio span6">
            <input type="radio" name="radioOptions" checked>
            Option1
        </label>
        <label class="radio span6">
            <input type="radio" name="radioOptions">
            Option2
        </label>
        </text>
            break;
        case "checkbox":
        <text>
        <label class="checkbox span12">
            <input type="checkbox">
            Option
        </label>
        </text>
            break;
        case "dropdown":
        <text>
        <select class="span12">
            <option>Option1</option>
            <option>Option2</option>
            <option>Option3</option>
        </select>
        </text>
            break;
        case "textarea":
        <text>
        <textarea class="span12"></textarea>
        </text>
            break;
        default:
        <text>
        <input type="text" class="span12">
        </text>
            break;
    }
</div>
