@{
    Style.Require("pnotify");
    Style.Require("Module");
    Style.Require("ngGrid");

    Script.Require("require");
    Script.Require("jQuery");
    Script.Require("jQueryUI");
    Script.Require("jQueryMousewheel");

    Script.Require("pnotify");
    Script.Require("angular");
    Script.Require("angularResource");
    Script.Require("angularRoute");

    Script.Require("angular_UI_Router");
    Script.Require("angular_couchPotato");
    Script.Require("ngGrid");
    Script.Require("ui_utils");
    Script.Require("i18next");
    Script.Include("directives/angularjs-i18next-directive.js");
    Script.Include("directives/layout-directive.js");
    Script.Include("directives/filter-directive.js");
    Script.Include("directives/jqGrid-directive.js");
    Script.Include("controllers/agGridCtrl.js");
    Script.Include("services/loadingservice.js");
}
<div id="loading">Loading...</div>
<section class="ng-cloak" data-ui-view>
</section>

@using (Script.Foot()) {
    <script type="text/javascript">
        //<![CDATA[
        function appPrefix() { return ''; }
        (function () {
            var load = requirejs.load;
            requirejs.load = function (context, moduleId, url) {
                //modify url here, then call original load
                return load(context, moduleId, url);
            };

            require.config({
                baseUrl: '@Url.Content("~/Modules/Coevery.Core")'
            });

            //Now load code.
            require(['@Url.Content("~/Modules/Coevery.Core/scripts/app/main.js")']);
        }());
        //]]>

        var coevery = angular.module('coevery', ['ng', 'ngGrid', 'ngResource', 'agt.couchPotato', 'ui.router.util', 'ui.router.router', 'ui.router.state', 'ui.router', 'ui.router.compat','coevery.layout', 'coevery.grid', 'SharedServices', 'angular-underscore', 'coevery.common', 'coevery.filter']);
        coevery.config(['$stateProvider', '$urlRouterProvider',
            function ($stateProvider, $urlRouterProvider) {
                $urlRouterProvider.otherwise('/404');
                @Html.Action("RegisterRouter",new {Controller = "ViewTemplate", Area = "Coevery.Core",id=true})
            }]);
    </script>
}