<div class="btn-toolbar">
    <button class="btn btn-small btn-success" data-ng-click="add()">
        <i class="icon-plus"></i>&nbsp;Add
    </button>
    <button class="btn btn-small" data-ng-click="getAll()">
        <i class="icon-refresh"></i>&nbsp;Refresh
    </button>
    <div class="btn-group" ng-show="mySelections.length > 0">
        <button class="btn btn-small" data-ng-click="edit(mySelections[0].ContentId)" ng-disabled="mySelections.length > 1">
            <i class="icon-edit"></i>&nbsp;Edit
        </button>
        <button class="btn btn-small" data-ng-click="delete(mySelections[0].ContentId)">
            <i class="icon-remove"></i>&nbsp;Delete
        </button>
        <button class="btn btn-small" data-ng-click="setDefault(mySelections[0].ContentId)" ng-disabled="mySelections.length > 1">
            Default
        </button>
    </div>
</div>

<section class="gridStyle" data-ng-grid="gridOptions"></section>

<section id="myModalView" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Confirm</h3>
    </div>
    <div class="modal-body">
        <p>You really want to delete this view?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
        <button class="btn btn-primary" ng-click="deleteView()">Yes</button>
    </div>
</section>


