<section>
    <section>
        <div id="page-actions">
            <button class="btn btn-small" data-ng-click="exit()">Back</button>
            <button class="btn btn-small btn-success" data-ng-click="add()">
                <i class="icon-plus"></i>Add
            </button>
            <button class="btn btn-small" data-ng-click="getAll()">
                <i class="icon-refresh"></i>Refresh
            </button>
            <div class="btn-group" ng-show="mySelections.length > 0">
                <button class="btn btn-small" data-ng-click="edit(mySelections[0].ContentId)" ng-disabled="mySelections.length > 1">
                    <i class="icon-edit"></i>Edit
                </button>
                <button class="btn btn-small" data-ng-click="delete(mySelections[0].ContentId)">
                    <i class="icon-remove"></i>Delete
                </button>
                <button class="btn btn-small" data-ng-click="setDefault(mySelections[0].ContentId)" ng-disabled="mySelections.length > 1">
                    Default
                </button>
            </div>
            @*<div class="btn-group">
                <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                    More
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Convert</a></li>
                    <li><a href="#">Disabled</a></li>
                </ul>
            </div>*@
        </div>
    </section>

    <section id="main-content">
        <header id="page-title" class="clearfix">
            <h1>List of Views <span>Display all views</span></h1>
        </header>

        <div class="row-fluid">
            <section class="gridStyle" data-ng-grid="gridOptions"></section>
        </div>
    </section>

</section>
<script>
    //Modify page-action width when resize
    $(function () {
        $("#main-content").css("margin-top", $("#page-actions").outerHeight(true));

        var tempWidth = $("#main-content").width();
        var tempWindow = $(window).innerWidth();
        if (tempWindow > 979) {
            tempWidth -= 80;
        } else if (tempWindow > 498) {
            tempWidth -= 40;
        }
        else {
            tempWidth -= 45;
        }
        $("#page-actions").width(tempWidth);
        $(window).resize(function () {
            tempWidth = $("#main-content .ngGrid.gridStyle").width();
            tempWindow = $(window).innerWidth();
            if (tempWindow > 979) {
                tempWidth -= 80;
            } else if (tempWindow > 498) {
                tempWidth -= 40;
            }
            else if (tempWindow > 480) {
                tempWidth -= 0;
            }
            else {
                tempWidth -= 30;
            }
            $("#page-actions").width(tempWidth);
        });
    });
</script>


