@model Coevery.Metadata.ViewModels.EditTypeViewModel
@{
    Script.Require("MetadataContext");
    Script.Require("MetadataDetailController");
}
@Display.FootScripts()
<header id="main-header" class="page-header">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>Coevery
                                        <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="#">Admin</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="#">Metata</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="#">Detail</a>
        </li>
    </ul>
    <h1>Meta Detail <span>Metadata add/edit</span></h1>
</header>

<section id="main-content" ng-controller="MetadataDetailCtrl">
    <div class="row-fluid">
        <section class="span12 widget">
            <header class="widget-header">
                <span class="title"></span>
            </header>
            <section class="widget-content form-container">
                <form name="myForm" class="form-horizontal" ng-submit="save()">
                    <section class="control-group">
                        <label class="control-label" for="inputName">Name</label>
                        <div class="controls">
                            <input type="text" ng-disabled="NameDisabled" class="span12" ng-model="item.Name" name="Name" id="inputName" maxlength ="20" required>
                            <span class="text-error" ng-show="!myForm.Name.$valid">Required!</span>
                        </div>
                    </section>
                    <section class="control-group">
                        <label class="control-label" for="inputDisplayName">DisplayName</label>
                        <div class="controls">
                            <input type="text" class="span12" ng-model="item.DisplayName" name="DisplayName" id="inputDisplayName" maxlength ="30" minlength ="5" required>
                            <span class="text-error" ng-show="myForm.DisplayName.$error.required">Required!</span>
                            <span class="text-error" ng-show="myForm.DisplayName.$error.minlength">min length = 5</span>
                        </div>
                    </section>
                    <section class="control-group">
                        <label class="control-label">Setting</label>
                        <div class="controls">
                            @{Html.RenderTemplates(Model.Templates); }
                        </div>
                    </section>
                    <section class="form-actions">
                        <input type="submit" value="Save" class="btn btn-primary" ng-disabled="!myForm.$valid">
                        <input type="button" value="Exit" class="btn" ng-click="exit()" />
                    </section>
                </form>
            </section>
        </section>
    </div>
</section>

