<div class="input-append" style="margin: 0px 0px 0px 10px;">
    <input type="text" style="width: 150px; height: 16px; line-height: 16px; font-size: 13px;">
    <button type="button" class="btn btn-small">
        <i class="icol-magnifier"></i>
    </button>
</div>
