<div class="btn-group">
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
        <i class="icon-filter"></i>&nbsp;@T("Filter")
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li data-ng-repeat="filter in definitionFilters" class="filter-label" data-ng-mouseenter="showRemoveIcon=true" data-ng-mouseleave="showRemoveIcon=false">
            <i data-ng-show="showRemoveIcon" class="icon-remove inline-icon" data-ng-click="deleteFilter(filter)"></i>
            @* data-ng-click="loadFilter({{filter}})" title="{{filter.Title}}" *@
            <a>
                <i data-ng-class="{'icol-accept':currentFilter.Id == filter.Id,'viewUSelected': currentFilter.Id != filter.Id}"></i>
                {{filter.Title}}
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="" ng-click="createFilter()">
                <i class="viewUSelected icon-plus"></i>@T("Create filter")
            </a>
        </li>
    </ul>
</div>
