@using Coevery.ContentManagement
@using Coevery.Utility.Extensions
@{
    ContentItem contentItem = Model.ContentItem;
    var typeDisplayName = contentItem.TypeDefinition.DisplayName ?? contentItem.ContentType.CamelFriendly();

<header id="page-title">
    <h1 class="pull-left">@typeDisplayName</h1>
</header>