[fd-field].selected {
    background-color: #c7e7af;
}

.btn-group.auto-open > ul.dropdown-menu {
    margin-top: 0;
}

.btn-group.auto-open:hover > ul.dropdown-menu {
    display: block;
}

[fd-form] .widget-content {
    /*border-top: 0;*/
}

[fd-field] {
    /*padding: 16px 0;*/
}

[fd-form] [fd-section] [fd-row].control-group {
    /*padding: 0 20px;*/
}

    [fd-form] [fd-section] [fd-row].control-group:last-child {
        margin-bottom: 10px;
    }

[fd-form] form {
    min-height: 50px;
}

.dragging {
    opacity: 0.3;
}

#toolboxes .tab-content {
    padding: 0;
    border: 0;
    height: 330px;
    overflow: auto;
}

.tools div {
    height: 18px;
    width: 20px;
    cursor: pointer;
    /*margin-top: 5px;*/
    float: right;
}

.tools .merge {
    background-image: url(images/merge.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.tools .split {
    background-image: url(images/split.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.tools .remove {
    background-image: url(images/wrenchRemove.png);
    background-repeat: no-repeat;
    background-position: 2px -14px;
}

.tools .property {
    background-image: url(images/wrenchRemove.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.title img {
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-right: 4px;
}

.row-fluid .title[class*="span"],
.row-fluid .tools[class*="span"] {
    min-height: 0;
}

.markedAbove,
[fd-form] [fd-section] > legend.markedAbove {
    border-top: 3px solid red;
}

.marked {
    border-bottom: 3px solid red;
}

.highlight {
    background: #ebf9ff;
}

.tools .highlight {
    background-color: #bae9fd;
}

/*Form Designer*/
.sort-placeholder {
    height: 40px;
    width: 100%;
    padding: 5px 5px 5px 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #aed9b2;
    /*margin: 0 0 10px 0;*/
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
    width: 200px;
    padding: 0;
}

    .bs-docs-sidenav.affix {
        top: 143px;
    }

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
    .bs-docs-sidenav {
        width: 226px;
    }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
    /* Adjust sidenav width */
    .bs-docs-sidenav {
        width: 166px;
        margin-top: 20px;
    }

        .bs-docs-sidenav.affix {
            top: 0;
        }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    /* Sidenav */
    .bs-docs-sidenav {
        width: auto;
        margin-bottom: 20px;
    }

        .bs-docs-sidenav.affix {
            position: static;
            width: auto;
            top: 0;
        }
}
